<div class="calendar-container">
  <div class="calendar-header">
    <div class="content-header">
      <button class="button-34" (click)="toggleView()">
        {{ isMonthView ? "Switch to Week View" : "Switch to Month View" }}
      </button>
      <span *ngIf="isMonthView">{{ monthName }}</span>
      <span *ngIf="!isMonthView"
        >{{ getWeekDates()[0] | date : "MMM d" }} -
        {{ getWeekDates()[6] | date : "MMM d, yyyy" }}</span
      >
    </div>
  </div>
  <div class="content-Calendar">
    <button class="button-34" (click)="previous()">
      <i class="fa-solid fa-forward fa-rotate-180" style="color: #ebebeb"></i>
    </button>

    <div *ngIf="isMonthView" class="calendar-grid">
      <div class="week-day" *ngFor="let day of weekDays">
        {{ day }}
      </div>
      <div
        class="calendar-day"
        *ngFor="let day of daysMonth"
        (click)="openWeekView(day)"
        [ngClass]="{
          'dayhas-event': day !== ' ' && hasEvents(extractDayNumber(day)),
          nonclickableDay: day == ' '
        }"
      >
        <div class="day-number">
          {{ day }}
        </div>

        <div class="event-container">
          <!-- Empty event container for adding events later -->
        </div>
      </div>
    </div>
    <div *ngIf="!isMonthView" class="week-view">
      <div class="week-header">
        <div class="week-day" *ngFor="let date of getWeekDates()">
          <div style="position: relative">
            <div>{{ weekDays[date.getDay()] }}</div>
            <div>{{ date | date : "MMM d" }}</div>
            <div
              *ngIf="
                weekDays[date.getDay()] === 'Saturday' ||
                weekDays[date.getDay()] === 'Sunday'
              "
              class="noop"
            ></div>
          </div>
        </div>
      </div>
      <div>
        <div class="week-grid" *ngFor="let hour of getHoursOfDay()">
          <div class="hour-label">
            {{ hour }}
          </div>
          <div class="week-day" *ngFor="let date of getWeekDates()">
            <div
              class="hour-cell"
              (click)="openEventForm(date, hour, eventFormModal)"
            >
              <!-- !isEvent(date, hour) &&f -->

              <div
                *ngIf="isEvent(date, hour)"
                [ngStyle]="getEventStyles(date, hour)"
                class="has-event event-container"
              >
                <ng-container *ngFor="let event of examlist">
                  <div *ngIf="isEventForDateAndHour(event, date, hour)">
                    <span class="tooltip-text">
                      <strong>{{ event.exam__title }}</strong
                      ><br />
                      <small>
                        {{ event.startDate | date : "shortTime" }} -
                        {{ event.endDate | date : "shortTime" }}
                      </small>
                    </span>
                  </div>
                </ng-container>
              </div>
              <!-- Add event content here -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button-34" (click)="next()">
      <i class="fa-solid fa-forward" style="color: #ebebeb"></i>
    </button>
  </div>
</div>

<!-- Event Form Modal -->
<ng-template style="z-index: 99999 ; " #eventFormModal let-modal>
  <div class="modalhead">
    <h4 class="modal-title TitelForm">Exam timing</h4>
    <button
      type="button"
      class="Mclose"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      *ngIf="groups.length > 0"
      [formGroup]="eventForm"
      (ngSubmit)="saveEvent()"
    >
      <div class="form-group ">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          pInputText
          class="form-control readonly-input"
          formControlName="title"
          readonly
        />
        <div
          *ngIf="
            eventForm.controls['title'].invalid &&
            eventForm.controls['title'].touched
          "
          class="text-danger"
        >
          Title is required.
        </div>
      </div>
      
      <div style="display: flex; gap:20px">
        <div class="form-group inputTimes">
          <label for="startDate">Date</label>
          <input
            id="startDate"
            type="date"
            class="form-control"
            formControlName="startDate"
          />
          <div
            *ngIf="
              eventForm.controls['startDate'].invalid &&
              eventForm.controls['startDate'].touched
            "
            class="text-danger"
          >
            Start date is required.
          </div>
        </div>
        <div class="form-group inputTimes">
          <label for="startTime">Start Time</label>
          <input
            id="startTime"
            type="time"
            class="form-control"
            formControlName="startTime"
          />
          <div
            *ngIf="
              eventForm.controls['startTime'].invalid &&
              eventForm.controls['startTime'].touched
            "
            class="text-danger"
          >
            Start time is required.
          </div>
        </div>
        <div class="form-group inputTimes">
          <label for="endTime">End Time</label>
          <input
            pInputText
            id="endTime"
            type="time"
            class="form-control"
            formControlName="endTime"
          />

      

          
        </div>
      </div>
      <div
            *ngIf="eventForm.controls['endTime'].invalid"
            class="text-danger"
          >
            {{ eventForm.controls['endTime'].errors?.['endTimeInvalid']}}
          </div>
      <!-- oblig  -->

      <div *ngIf="examType">
        <div class="mb-3">
          <label for="">Exam mode</label>
          <button type="button" class="btnAdd" (click)="statePlan()">
            <i class="fa-solid fa-arrows-rotate fa-xl"></i>
            {{ state ? "Presence" : "Remotely" }}
          </button>
        </div>
        <form [formGroup]="formSG" *ngIf="state">
          <div
            formArrayName="salleGroupList"
            *ngFor="let group of salleGroupList.controls; let i = index"
            class="form-group salleGroupList"
          >
            <div class="inputSelect" [formGroupName]="i">
              <label>Salle</label>
              <p-dropdown
                [options]="salles"
                formControlName="salle__id"
                optionLabel="salle__name"
                placeholder="Select a Salle"
              >
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="salleGroupList"
                  >
                    <div>
                      {{ salleGroupList.value[i].salle__id.salle__name }}
                    </div>
                  </div>
                </ng-template>
                <ng-template let-S pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ S.salle__name }}</div>
                  </div>
                </ng-template></p-dropdown
              >
            </div>
            <div class="inputSelect" [formGroupName]="i">
              <label for="group">Group</label>
              <p-dropdown
                [options]="groups"
                formControlName="group__id"
                optionLabel="group__name"
                placeholder="Select a Group"
              >
                <ng-template pTemplate="selectedItem">
                  <div
                    class="flex align-items-center gap-2"
                    *ngIf="salleGroupList"
                  >
                    <div>
                      {{ salleGroupList.value[i].group__id.group__name }}
                    </div>
                  </div>
                </ng-template>
                <ng-template let-G pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ G.group__name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <button
              type="button"
              class="btnRmove"
              (click)="removeSalleGroup(i)"
              [ngClass]="{
                nonclickable: state && this.salleGroupList.value.length == 1
              }"
            >
              <i class="fa-solid fa-eraser fa-xl"></i>
            </button>
          </div>
          <div class="mb-3">
            <button
              type="button"
              class="btnAdd"
              (click)="addSalleGroup()"
              [ngClass]="{ nonclickable: !checkListSG() }"
            >
              <i class="fa-solid fa-plus fa-xl"></i>
              {{ ErrValid ? ErrValid : "Add More" }}
            </button>
          </div>
        </form>

        <form [formGroup]="formG" *ngIf="!state">
          <div
            formArrayName="GroupList"
            *ngFor="let group of GroupList.controls; let i = index"
            class="form-group salleGroupList"
          >
            <div class="inputSelect" [formGroupName]="i">
              <label for="group">Group</label>
              <p-dropdown
                [options]="groups"
                formControlName="group__id"
                optionLabel="group__name"
                placeholder="Select a Group"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="GroupList">
                    <div>{{ GroupList.value[i].group__id.group__name }}</div>
                  </div>
                </ng-template>
                <ng-template let-G pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ G.group__name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <button
              type="button"
              class="btnRmove"
              (click)="removeGroup(i)"
              [ngClass]="{
                nonclickable: !state && this.GroupList.value.length == 1
              }"
            >
              <i class="fa-solid fa-eraser fa-xl"></i>
            </button>
          </div>
          <div class="mb-3">
            <button
              type="button"
              class="btnAdd"
              (click)="addGroup()"
              [ngClass]="{ nonclickable: !checkListG() }"
            >
              <i class="fa-solid fa-plus fa-xl"></i>
              {{ ErrValid ? ErrValid : "Add More" }}
            </button>
          </div>
        </form>
      </div>

      <!-- fin oblig  -->

      <div *ngIf="!examType">
        <div class="mb-3">
          <label for=""> Exam mode</label>
          <button type="button" class="btnAdd" (click)="statePlan()">
            <i class="fa-solid fa-arrows-rotate fa-xl"></i>
            {{ state ? "Presence" : "Remotely" }}
          </button>
        </div>

        <form [formGroup]="formS" *ngIf="state">
          <div
            formArrayName="SalleList"
            *ngFor="let group of SalleList.controls; let i = index"
            class="form-group salleGroupList"
          >
            <div class="inputSelect" [formGroupName]="i">
              <label for="group">Salle</label>
              <p-dropdown
                [options]="salles"
                formControlName="salle__id"
                optionLabel="salle__name"
                placeholder="Select a Salxle"
              >
                <ng-template pTemplate="selectedItem">
                  <div class="flex align-items-center gap-2" *ngIf="SalleList">
                    <div>{{ SalleList.value[i].salle__id.salle__name }}</div>
                  </div>
                </ng-template>
                <ng-template let-S pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ S.salle__name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
            <button
              type="button"
              class="btnRmove"
              (click)="removeSalle(i)"
              [ngClass]="{
                nonclickable: state && this.SalleList.value.length == 1
              }"
            >
              <i class="fa-solid fa-eraser fa-xl"></i>
            </button>
          </div>
          <div class="mb-3">
            <button
              type="button"
              class="btnAdd"
              (click)="addSalle()"
              [ngClass]="{ nonclickable: !checkList() }"
            >
              <i class="fa-solid fa-plus fa-xl"></i>
              {{ ErrValid ? ErrValid : "Add More" }}
            </button>
          </div>
        </form>
      </div>
      <div
        class="text-danger"
        style="position: absolute; right: 130px; bottom: 50px"
      >
        {{ MsgError }}
      </div>
      <!-- IDs.length == salles.length-1, 'clickable': IDs.length !== salles.length-1  -->
      <button type="submit" class="btnsave">
        <i class="fa-solid fa-calendar-check"></i>Save
      </button>
    </form>

    <div class="nogroup" *ngIf="groups.length == 0">
      all groups has this Exam
    </div>
  </div>
</ng-template>
