.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar-header {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.btnRmove {
  /* display: inline-block; */
  font-weight: 400;
  color: #f44336;
  /* text-align: center; */
  vertical-align: middle;
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #ffffff;
  border: none;
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  /* line-height: 1.5; */
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.salleGroupList {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: flex-start;
}

.inputSelect {
  display: flex;
  flex-direction: column;

}

.content-header span {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.content-Calendar {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  background: #c3d6fba3;
  /* border: 1px solid #ddd; */
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;


  color: #FFFFFF;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: fit-content;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.btnAdd {
  background: white;
   color: #dd9912;
  border: 0;
  border-radius: 10px;
 
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: -apple-system,
  system-ui,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 9911;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;

}

.btnsave{
  position: absolute;
  background: #ffffff;
  box-shadow: #1935a3 2px 5px 20px -7px;
  color: #1935a3;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none !important;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  bottom: 10px;
  right: 15px;
  margin-bottom: 10px;
  align-items: center;
  

 
}
.nogroup{
  text-align: center;
  margin: 200px 0;
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #1935a3;
}

.btnAdd:not([disabled]):hover {
  width: max-content;
  gap: 3px;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.has-event {
  border-radius: 10px;

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.week-view {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  max-width: 1000px;
  width: 100%;
  margin-left: 50px;


}

.week-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

}

.week-day {
  background: transparent;
  /* text-shadow: -1px 3px 10px rgba(62, 62, 62, 0.62); */
  background: transparent;
 
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dayhas-event {
  box-shadow: rgba(240, 127, 46, 0.4) 5px 5px, rgba(240, 127, 46, 0.3) 10px 10px, rgba(240, 127, 46, 0.2) 15px 15px, rgba(240, 127, 46, 0.1) 20px 20px, rgba(240, 127, 46, 0.05) 25px 25px;
}

.week-grid {
  display: grid;
  grid-template-columns: auto repeat(7, 1fr);
  /* display: flex; */



}

.hour-label {
  height: 60px;
  width: 50px;
  margin-left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* text-shadow: -1px 3px 10px rgba(62, 62, 62, 0.62); */
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* border: 1px solid #ddd; */
}

.hour-cell {
  height: 60px;
  background: #fcfbfb;
  border: 1px solid #ddddddb4;
  cursor: pointer;
}

.hour-cell:hover {
  background: #b6b6b6;
}



.event-container .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  /* Position above the event */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.readonly-input {
  border: none;
  background: transparent;
  pointer-events: none;
  padding: 0 auto !important;
  max-width: 90%;
}

.event-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.noop{
  position: absolute;
  width: 100%;
  margin-top: 10px;
  height: 1377%;
  background: rgb(136 136 136 / 12%);
  z-index: 99;
}


.nonclickable {
  pointer-events: none;
  color: gray;
  
}


