<div class="calendar-container" >
  <div class="calendar-header">
    <div class="content-header">
      <button class="button-34" (click)="toggleView()">
        {{ isMonthView ? "Switch to Week View" : "Switch to Month View" }}
      </button>
      <span *ngIf="isMonthView">{{ monthName }}</span>
      <span *ngIf="!isMonthView"
        >{{ getWeekDates()[0] | date : "MMM d" }} -
        {{ getWeekDates()[6] | date : "MMM d, yyyy" }}</span
      >
      
    </div>
  </div>
  <div class="content-Calendar">
    <button class="button-34" (click)="previous()">
      <i class="fa-solid fa-forward fa-rotate-180" style="color: #ebebeb"></i>
    </button>

    <div *ngIf="isMonthView" class="calendar-grid">
      <div class="week-day" *ngFor="let day of weekDays">
        {{ day }}
      </div>
      <div
        class="calendar-day"
        *ngFor="let day of daysInMonth"
        (click)="openWeekView(day)"
        [ngClass]="{ 'dayhas-event': hasEvents(day) }"
      >
        <div class="day-number">
          {{ day }}
        </div>

        <div class="event-container">
          <!-- Empty event container for adding events later -->
        </div>
      </div>
    </div>
    <div *ngIf="!isMonthView" class="week-view">
      <div class="week-header">
        <div class="week-day" *ngFor="let date of getWeekDates()">
          <div>{{ weekDays[date.getDay()] }}</div>
          <div>{{ date | date : "MMM d" }}</div>
        </div>
      </div>
      <div >
        <div class="week-grid" *ngFor="let hour of getHoursOfDay()">
          <div class="hour-label">
            {{ hour }}
          </div>
          <div class="week-day" *ngFor="let date of getWeekDates()">
            <div
              class="hour-cell"
              (click)="
                !isEvent(date, hour) &&
                  openEventForm(date, hour, eventFormModal)
              "
            >
            <div  *ngIf="isEvent(date, hour)" [ngStyle]="getEventStyles(date, hour)" class=" has-event event-container">
              <ng-container *ngFor="let event of examlist">
                <div *ngIf="isEventForDateAndHour(event, date, hour)" >
                 
                  <span class="tooltip-text">
                    <strong>{{ event.exam__title }}</strong><br />
                    <small>
                      {{ event.startDate | date: 'shortTime' }} - {{ event.endDate | date: 'shortTime' }}
                    </small>
                  </span>
                </div>
              </ng-container>
            </div>
              <!-- Add event content here -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="button-34" (click)="next()">
      <i class="fa-solid fa-forward" style="color: #ebebeb"></i>
    </button>
  </div>
</div>

<!-- Event Form Modal -->
<ng-template style="z-index: 99999;" #eventFormModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Event</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          class="form-control readonly-input"
          formControlName="title"
          readonly
        />
        <div
          *ngIf="
            eventForm.controls['title'].invalid &&
            eventForm.controls['title'].touched
          "
          class="text-danger"
        >
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="startDate">Date</label>
        <input
          id="startDate"
          type="date"
          class="form-control"
          formControlName="startDate"
        />
        <div
          *ngIf="
            eventForm.controls['startDate'].invalid &&
            eventForm.controls['startDate'].touched
          "
          class="text-danger"
        >
          Start date is required.
        </div>
      </div>
      <div class="form-group">
        <label for="startTime">Start Time</label>
        <input
          id="startTime"
          type="time"
          class="form-control"
          formControlName="startTime"
        />
        <div
          *ngIf="
            eventForm.controls['startTime'].invalid &&
            eventForm.controls['startTime'].touched
          "
          class="text-danger"
        >
          Start time is required.
        </div>
      </div>
      <div class="form-group">
        <label for="endTime">End Time</label>
        <input
          id="endTime"
          type="time"
          class="form-control"
          formControlName="endTime"
        />
        <div
          *ngIf="
            eventForm.controls['endTime'].invalid &&
            eventForm.controls['endTime'].touched
          "
          class="text-danger"
        >
          End time is required.
        </div>
      </div>
      <div class="form-group d-flex justify-content-center align-items-center">
        <div class="mr-2">
          <label for="salle">Salle</label>
          <select id="salle" class="form-control" formControlName="salle" (click)="onSalleSelect()">
            <option *ngFor="let salle of salles" [value]="salle.salle__id">
              {{ salle.salle__name }}
            </option>
          </select>
          <div
            *ngIf="
              eventForm.controls['salle'].invalid &&
              eventForm.controls['salle'].touched
            "
            class="text-danger"
          >
            Salle is required.
          </div>
        </div>
        <div class="ml-2">
          <label for="group">Group</label>
          <select id="group" class="form-control" formControlName="group" >
            <option *ngFor="let groupS of groupSub" value="groupS">
              {{ groupS.group__name }}
            </option>
            <option *ngFor="let groupR of groupRank" [ngValue]="{group__id: groupR.group__id, group__name: groupR.group__name}">
              {{ groupR.group__name }}
            </option>
          </select>
          <div
            *ngIf="
              eventForm.controls['group'].invalid &&
              eventForm.controls['group'].touched
            "
            class="text-danger"
          >
            Group is required.
          </div>
        </div>
      </div>
     
      <button type="submit" class="btn btn-primary">Save Exam plan</button>
    </form>
  </div>
</ng-template>
