<div class="card">
  <p-table
    #dt2
    [value]="currentTableData"
    dataKey="id"
    [rows]="5"
    [rowsPerPageOptions]="[5,10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="[
    'last__name',
      'first__name',
      'description',
      'user__email'
    ]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt2.filterGlobal($any($event.target)?.value, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconField>
        <p-button
          [style]="{
            'border-radius': '15px',
            'text-wrap': 'nowrap',
            margin: '0 10px'
          }"
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear(dt2)"
        />
        <p-button
          [style]="{
            'border-radius': '15px',
            'text-wrap': 'nowrap',
            margin: '0 10px'
          }"
          (click)="switchTable('teachers')"
          label="All Teachers"
          [severity]="filterButton ==='teachers'? 'secondary':'help'"
        />
        <p-button
          [style]="{
            'border-radius': '15px',
            'text-wrap': 'nowrap',
            margin: '0 10px'
          }"
          (click)="switchTable('teachersAccept')"
          label="Accepted "
          [severity]="filterButton ==='teachersAccept'? 'secondary':'help'"
        />
        <p-button
        [style]="{
          'border-radius': '15px',
          'text-wrap': 'nowrap',
          margin: '0 10px'
        }"
        (click)="switchTable('teachersRefused')"
        label="Refused "
        [severity]="filterButton ==='teachersRefused'? 'secondary':'help'"
      />
        <p-button
          [style]="{
            'border-radius': '15px',
            'text-wrap': 'nowrap',
            margin: '0 10px'
          }"
          (click)="switchTable('teachersWait')"
          label="Waiting "
          [severity]="filterButton ==='teachersWait'? 'secondary':'help'"
        />
     
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">first Name</th>
        <th style="width: 10%">last Name</th>
        <th style="width: 10%">Email</th>
        <th style="width: 25%">Description</th>
        <th style="width: 25%">CV</th>
        <!-- <th style="width:max-content">specialty</th> -->
        <th style="width: 25%">Domain</th>
        <th style="width: 25%">Groups</th>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
      <tr>
        <td>
          {{ teacher.first__name }}
        </td>
        <td>
          {{ teacher.last__name }}
        </td>
        <td>
          {{ teacher.user__email }}
        </td>
        <td >
          <div class="textDesc">{{ teacher.description }}</div>
          
        </td>
        <td>
          <div class="previewimg" *ngIf="teacher.CV__path">
           
            <i
              
              class="fa-solid  fa-file-pdf fa"
              (click)="openFile(teacher.CV__path)"
            ></i>
           
          </div>
        </td>
        <!-- <td>
                {{ teacher.specialty }}
            </td> -->
        <td>
          <div class="inlineflex">
            <div
              class="list"
              *ngIf="subjectExist[teacher.user__id]!.length > 0"
            >
              <p-listbox
                [options]="subjectExist[teacher.user__id]"
                optionLabel="subject__name"
                [style]="{ width: 'max-content' }"
                [listStyle]="{ 'max-height': '50px' }"
                (onChange)="removesubject($event, teacher.user__id)"
              />
              <div class="ribbon">
                {{ subjectExist[teacher.user__id]!.length }}
              </div>
            </div>
            <p-button
              label="Add"
              (click)="selectsubject(op, teacher)"
              [text]="true"
              [raised]="true"
              [style]="{ 'border-radius': '15px', 'text-wrap': 'nowrap' }"
              icon="pi pi-plus"
              severity="warning"
            />
          </div>
        </td>
        <td>
          <div class="inlineflex">
            <div class="list" *ngIf="groupExist[teacher.user__id]!.length > 0">
              <p-listbox
                [options]="groupExist[teacher.user__id]"
                optionLabel="group__name"
                [style]="{ width: 'max-content' }"
                [listStyle]="{ 'max-height': '50px' }"
                (onChange)="Removegroup($event, teacher.user__id)"
              />
              <div class="ribbon">
                {{ groupExist[teacher.user__id]!.length }}
              </div>
            </div>

            <p-button
              label="Add"
              (click)="selectgroup(op1, teacher)"
              [text]="true"
              [raised]="true"
              [style]="{ 'border-radius': '15px', 'text-wrap': 'nowrap' }"
              icon="pi pi-plus"
              severity="warning"
            />
          </div>
        </td>

        <!-- [severity]="getSeverity(teacher.status)" -->
        <td>
      
            <p-triStateCheckbox
              (onChange)="activation($event, teacher.user__id)"
              class="hidden-checkbox"
              inputId="checked{{ teacher.user__id }}"
            />
            <label for="checked{{ teacher.user__id }}">
              <p-tag
                [value]="mapValue(activate[teacher.user__id].active)"
                [severity]="getSeverity(activate[teacher.user__id].active)"
              />
            </label>
     
        </td>
        <td>
          <div class="inlineflex">
            <p-button
              *ngIf="teacherIds.includes(teacher.user__id)"
              label="save"
              (click)="UpdateTeacher(teacher.user__id)"
              [text]="true"
              [raised]="true"
              [style]="{ 'border-radius': '15px', 'text-wrap': 'nowrap' }"
              icon="pi pi-upload"
              severity="warning"
            />
            <p-button
              label="delete"
              (click)="deleteTeacher(teacher.user__id)"
              [text]="true"
              [raised]="true"
              [style]="{ 'border-radius': '15px', 'text-wrap': 'nowrap' }"
              icon="pi pi-trash"
              severity="warning"
            />
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No Teacher found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-overlayPanel #op [style]="{ maxwidth: 'max-content', maxheight: '250px' }">
  <ng-template pTemplate="content">
    <p-listbox
      [options]="subjectNotIn[Techerselesct.user__id]"
      optionLabel="subject__name"
      [style]="{ width: '15rem' }"
      [listStyle]="{ 'max-height': '220px' }"
      (onChange)="Selectsubject($event, Techerselesct.user__id)"
    >
      <ng-template let-subject pTemplate="item">
        <div>
          {{ subject.subject__name }}
        </div>
      </ng-template>
    </p-listbox>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #op1 [style]="{ maxwidth: 'max-content', maxheight: '250px' }">
  <ng-template pTemplate="content">
    <p-listbox
      *ngIf="groupNotIn[Techerselesct.user__id]!.length > 0"
      [options]="groupNotIn[Techerselesct.user__id]"
      optionLabel="group__name"
      [style]="{ width: '15rem' }"
      [listStyle]="{ 'max-height': '220px' }"
      (onChange)="Selectgroup($event, Techerselesct.user__id)"
    />
  </ng-template>
</p-overlayPanel>
