<div class="containerResult">
  <div class="">
    <div class="TitelForm"> Exams Course</div>
  <p-table
    [value]="AnswersObli"
    sortField="exam__id"
    sortMode="single"
    dataKey="exam__id"
    rowGroupMode="subheader"
    groupRowsBy="exam__id"
    [tableStyle]="{ 'max-width': '35rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          style="background: rgba(0, 0, 0, 0.382); color: white; min-width:15rem"
        >
          Exam
        </th>
        <th>Name student</th>
 

        <th>Note</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="groupheader"
      let-answerStudent
      let-rowIndex="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td colspan="5">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="answerStudent"
            class="p-button-text p-button-rounded p-button-plain mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>

          <span class="font-bold ml-2">{{ answerStudent.exam__title }}</span>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="groupfooter" let-answerStudent>
                <tr class="p-rowgroup-footer">
                    <td colspan="4" style="text-align: right">Total answerStudents</td>
                    <td>{{calculateanswerStudentTotal(answerStudent.representative.name)}}</td>
                </tr>
            </ng-template> -->
    <ng-template pTemplate="rowexpansion" let-answerStudent>
      <tr (click)="showDialog(answerStudent)">
        <td style="background: rgb(0 0 0 / 21%); color: white"></td>
        <td>{{ answerStudent.Student__name }}</td>
 

        <td>
          {{ answerStudent.ans__result }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<div class="">
  <div class="TitelForm"> Exams certified </div>

  <p-table
    [value]="AnswersCertif"
    sortField="exam__id"
    sortMode="single"
    dataKey="exam__id"
    rowGroupMode="subheader"
    groupRowsBy="exam__id"
    [tableStyle]="{ 'max-width': '35rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          style="background: rgba(0, 0, 0, 0.382); color: white; min-width:15rem"
        >
          Exam
        </th>
        <th>Name student</th>
        

        <th>Note</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="groupheader"
      let-answerStudent
      let-rowIndex="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td colspan="5">
          <button
            type="button"
            pButton
            pRipple
            [pRowToggler]="answerStudent"
            class="p-button-text p-button-rounded p-button-plain mr-2"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>

          <span class="font-bold ml-2">{{ answerStudent.exam__title }}</span>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="groupfooter" let-answerStudent>
                <tr class="p-rowgroup-footer">
                    <td colspan="4" style="text-align: right">Total answerStudents</td>
                    <td>{{calculateanswerStudentTotal(answerStudent.representative.name)}}</td>
                </tr>
            </ng-template> -->
    <ng-template pTemplate="rowexpansion" let-answerStudent>
      <tr (click)="showDialog(answerStudent)">
        <td style="background: rgb(0 0 0 / 21%); color: white"></td>
        <td>{{ answerStudent.Student__name }}</td>


        <td>
          {{ answerStudent.ans__result }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


</div>



<p-dialog
  [header]="studentAnswer ? 'Answers of ' + studentAnswer.Student__name : ''"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="examFiles" *ngIf="examType == 'file'">
    <div>
      <div class="titlebox">Exam file</div>
      <div *ngIf="Exam.fileExam" class="fleximg" style="margin-bottom: 10px">
        <div *ngFor="let f of Exam.fileExam; let index = index" key="index">
          <div class="previewimg" (click)="openFile(f.file__path)">
            <i
              *ngIf="typeFile(f).type !== 'image'"
              class="fa-solid  fa-file-{{ typeFile(f).type }} fa"
            ></i>
            <img *ngIf="typeFile(f).type === 'image'" [src]="f.file__path" />
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="titlebox">Answer file</div>
      <div class="fileAnswer">
        <div
          *ngIf="studentAnswer.fileAnswer"
          class="fleximg"
          style="margin-bottom: 10px"
        >
          <div
            *ngFor="let f of studentAnswer.fileAnswer; let index = index"
            key="index"
          >
            <div class="downloadFile" (click)="downloadFile(f.file__name)">
              <i class="fa-solid fa-download"></i>
            </div>
            <div class="previewimg" (click)="openFile(f.file__path)">
              <i
                *ngIf="typeFile(f).type !== 'image'"
                class="fa-solid  fa-file-{{ typeFile(f).type }} fa"
              ></i>
              <img *ngIf="typeFile(f).type === 'image'" [src]="f.file__path" />
            </div>
          </div>
        </div>
      </div>
      <button class="buttonSend scale" (click)="downloadAllFiles()">
        <i class="fa-solid fa-download"></i> Download
      </button>
    </div>
  </div>
  <div *ngIf="examType != 'file'">
    <ng-container *ngFor="let questionType of getQuestionTypes()">
      <p-fieldset [legend]="'Section: ' + questionType" [toggleable]="true">
        <ng-container
          *ngFor="let question of groupedQuestions[questionType]; let i = index"
        >
          <p-panel
            header="Question: {{ question.question__text }} . {{
              question.note
            }} "
          >
            <div
              *ngIf="question.fileQuestion"
              class="fleximg"
              style="margin-bottom: 10px"
            >
              <div
                *ngFor="let f of question.fileQuestion; let index = index"
                key="index"
              >
                <div>
                  <p-image [src]="f.file__path" [preview]="true"></p-image>
                </div>
              </div>
            </div>
            <div *ngIf="question.question__type === 'QCM'">
              <div *ngFor="let reponse of question.reponses">
                <div class="flex align-items-center">
                  <!-- <p-checkbox
                  [label]="reponse.reponse__text"
                  [name]="'question_' + question.question__id"
                  [value]="reponse.reponse__id"
                  (onChange)="onCheckboxChange($event, question, reponse)"
                ></p-checkbox> -->
                  <div [ngStyle]="checkAnswer(question, reponse).styles">
                    <i [class]="checkAnswer(question, reponse).iconClass"></i>
                    {{ reponse.reponse__text }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="question.question__type === 'Normal'">
              <label for=""> Answer : </label>
              <div>
                {{ getAnswer(question) }}
              </div>
            </div>

            <!-- -->

            <ng-template pTemplate="footer">
              <div class="NoteInput">
                <tr class="p-rowgroup-footer" style="text-align: right">
                  <td colspan="4">Note</td>
                  <td>
                    <input
                      type="number"
                      class="inputNumbe"
                      pInputText
                      min="0"
                      #myInput
                      [max]="question.note != null ? question.note : 20"
                      [ngModel]="valNote(question.question__id)"
                      (blur)="
                        NoteQuestion($any($event.target)?.value, question)
                      "
                    />
                  </td>
                </tr>
              </div>
            </ng-template>
          </p-panel>
        </ng-container>
      </p-fieldset>
    </ng-container>
  </div>

  <!-- <p *ngIf="allAnswersEmpty()">No answers available.</p> -->
  <p-footer>
    <div class="NoteInput">
      <tr class="p-rowgroup-footer" style="text-align: right">
        <td colspan="4">Total Note</td>
        <td>
          <input
            type="number"
            min="0"
            max="20"
            #myInput
            pInputText
            class="inputNumbe"
            [ngModel]="totalNote"
            (ngModelChange)="onTotalNoteChange($event)"
          />
        </td>
      </tr>

      <button class="buttonSend" type="button" (click)="submitResult()">
        Send
      </button>
    </div>
  </p-footer>
</p-dialog>
