<div class="resetpage">
  <div *ngIf="check == false" class="resetBox">
    <h3 class="resettitle">Create new password</h3>
    <div class="subresettitle">
      Please choose a password that hasn't been used before. Must be at least 8
      characters.
    </div>
    <div class="resetForm" [formGroup]="resetPasswordForm">
      <div class="form-group col-md-12">
        <label for="password">New Password</label>
        <p-password
          placeholder="Password"
          [toggleMask]="true"
          [feedback]="false"
          [style]="{ width: '100%' }"
          formControlName="Password"
        ></p-password>

        <div
          class="text-danger"
          *ngIf="
            resetPasswordForm.controls['Password'].touched &&
            resetPasswordForm.controls['Password'].invalid
          "
        >
          <span
            *ngIf="resetPasswordForm.controls['Password'].errors?.['required']"
            >This field is mandatory.</span
          >
          <span
            *ngIf="resetPasswordForm.controls['Password'].errors?.['minlength']"
            >Password must be at least 8 characters long.</span
          >
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="confirmPassword">Confirm Password</label>
        <p-password
          placeholder="Confirm Password"
          [toggleMask]="true"
          [feedback]="false"
          [style]="{ width: '100%' }"
          formControlName="confirmPassword"
        ></p-password>

        <div
          class="text-danger"
          *ngIf="
            resetPasswordForm.controls['confirmPassword'].touched &&
            resetPasswordForm.controls['confirmPassword'].invalid
          "
        >
          <span
            *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['required']"
            >This field is mandatory.</span
          >
          <span
            *ngIf="
            resetPasswordForm.get('confirmPassword')?.hasError('mismatch')&&
              resetPasswordForm.controls['confirmPassword'].touched
            "            

            >Passwords do not match.</span
          >
        </div>
      </div>
      <div class="form-group col-md-12">
        <button type="button" (click)="resetPass()">Send</button>
      </div>
    </div>
  </div>


  <div class="resetBox"   *ngIf="check == true" >
    <div class="popcheck" style="margin-top: 20%;">
      <app-check-success ></app-check-success>
      <div class="resettitle">Password reset!</div>
      <div class="subresettitle">
        Your password has been successfully reset, Click below to log in .
      </div>

      <div class="form-group col-md-12" style=" margin: 20px 0;">
        <button type="button" routerLink="/auth" >Continue</button>
      </div>

    </div>
  </div>
</div>
