
<div class="resetpage">
<div class="resetBox">
  <h3 class="resettitle">Reset Password</h3>
  <div class="subresettitle">Enter your new password.</div>
  <hr class="resetline" />

  <div class="resetForm">
    <label>New password :</label>
    <input
      type="password"
      placeholder="Enter New password"
      class="form-control"
      formControlName="password"
    />
    <label>Comfirme password :</label>
    <input
      type="password"
      placeholder="Comfirme password"
      class="form-control"
      formControlName="password"
    />
    <!-- <span *ngIf="responseMessage !== '' &&  forgotpass.controls['user__email']?.touched">
          {{ responseMessage }}
</span> -->
    <button type="button">Send</button>
  </div>
</div>
</div>