
section{
    border-radius: 15px;
  
    background-color: rgb(0 0 0 / 0%);
    /* box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1); */
    display: flex;
    /* gap: 10px; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 2px; */
  }
a{
  color: #100d6a !important;
}

label {
  display: block;
  margin-bottom: 0 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  font-size: 17px;
}
.filtres{
  display: flex;
  gap: 30px;
  align-items: center;

  margin: 10px;
  background: #ffffff;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
  .cardQuest{
    height: 250px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 10px;
    padding: 10px 15px;
    overflow: auto;
  }
  .container{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .textDesc{
    max-height: 100px !important;
    max-width: 230px;
    overflow: auto;
  }
  .listView-item{
  
    border-radius: .4rem;
  }
  
  .listView-item hr{
    border: 2px solid rgb(181, 180, 180);
    margin: 2px 0 !important;
  }
  
  .listView-link{
    font-size: 1.6rem;
    color: #020202;
    text-decoration: none;
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  

  
  .listView-link i{
    color: #e7d5ff;
    padding: .5rem;
    
  }
  
  .Question ul{
    display: flex;
    margin-left: -40px;
    align-items: flex-start;
    list-style-type: none;
    gap: 5%;
    justify-content: flex-start;
    flex-direction: row;
    background: #4b5563;
    /* color: white; */
    box-shadow: 4px 3px 6px 0 #938fff;
    border-radius: 30px;
    padding: 0px 20px;
    width: fit-content;
    text-align: center;
  }
  
  .Question li , span{
    
    color: #ffffff;
   
  
  font-family: "Poppins", sans-serif;
  font-weight: 500;
 
  font-size: 17px;
  }
  .Question li {
    color: #ffffff;

  }
  
  .listView-link div{
    display: flex;
  }
 
  
.btnCard{
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  position: sticky;
  /* float: right; */
  right: 0;
  top: 0px;
}
  
  
  .Question p{
    color: #101010;
    font-size: 17px;
  
    
  }
  .btnAdd {
    background: white;
    border: 0;
    border-radius: 10px;
    color: #dd9912;
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
   
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  
  }
  .btnAdd:not([disabled]):hover {
    width: max-content;
    gap: 3px;
    border-radius: 10px;
    transition: all 0.7s ease;
  }
  .headerpanl{
    color: #100d6a;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .btndisabled{
    color: gray;
  }
.textQuestion{
  min-height: 100px;
  margin: 20px 10px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  word-break: break-word;
  align-items: center;
}

.detailsQuetion{
  font-size: 17px;
  font-weight: 500;
}


  .responses .response {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}

.responses .response.true {
    background-color: #d4edda;
    border-left: 4px solid #28a745;
}

.responses .response.false {
    background-color: #f8d7da;
    border-left: 4px solid #dc3545;
}

.basicQuestion{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.supportitems{
  display: flex;  
  }
  .supportitem {
    display: flex;
    /* height: 280px; */
    /* width: 200px; */
    /* background-color: #17141d; */
    /* border-radius: 10px; */
    /* box-shadow: -1rem 0 3rem #000; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .supportitem:not(:first-child) {
      margin-left: -20px;
   
  }
  
  .supportitem:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
  }
  
  .supportitem:hover ~ .supportitem {
    position: relative;
    left: 10px;
    transition: 0.4s ease-out;
  }
  
  .supportimg{
    margin-top: 5px;
    width: 30px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    background: #ffffff;
    box-shadow: rgb(100 100 111 / 16%) -3px 4px 16px -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 16%);
    text-align: center;
    position: relative;
  }
  .supportimg img {
    width: 30px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
  }

  .supportimg .fa {
    font-size: 1.5rem;
    color: #00159a;
  }