<section>
  <div class="filtres">
    <div class="inputFilter">
      <label style="display: inline-block" for="subjectFilter"
        >Filter by Subject:</label
      >
      <p-dropdown
        [options]="subjects"
        (blur)="filteredQuestions()"
        [(ngModel)]="subjectFilter"
        placeholder="Enter subject"
        [editable]="true"
        [showClear]="true"
        optionLabel="subject__name"
        optionValue="subject__name"
      />
   
    </div>

    <div class="inputFilter">
      <label style="display: inline-block" for="typeFilter"
        >Filter by Type:</label
      >

      <p-dropdown
        [options]="Types"
        (blur)="filteredQuestions()"
        [(ngModel)]="typeFilter"
        placeholder="Enter type"
        [editable]="true"
        [showClear]="true"
        optionLabel="name"
        optionValue="name"
      />

     
    </div>
    <button type="button" class="btnAdd" (click)="addQuestion()">
      <i class="fa-solid fa-plus fa-xl"></i>
    </button>
  </div>
  <div class="container">
    <div
      class="listView"
      *ngFor="let question of filteredQuestions(); let k = index"
    >
      <div class="card cardQuest">
        <div class="btnCard">
          <button
            type="button"
            class="btnAdd"
            (click)="EditQuestion(question)"
            *ngIf="!associationStatus[question.question__id].check"
          >
            <i class="fa-solid fa-pencil fa-xl"></i>
          </button>
          <button
            type="button"
            class="btnAdd"
            
            (click)="removeQuestion(question)"
            *ngIf="!associationStatus[question.question__id].check"
style="color: red;"

            >
            <i class="fa-solid fa-trash fa-xl"></i>
          </button>

          <button
          type="button"
          class="btnAdd"
          [pTooltip]="tooltipContent" 
       *ngIf="associationStatus[question.question__id].check"
          style="color: #4338ca;"
        >
          is Taked
        </button>
         
     
      <ng-template #tooltipContent>
          <div class="flex align-items-center"  *ngFor="let name of associationStatus[question.question__id].examNames ">
              <span  [ngStyle]="{'color': '#ffffff'}" > {{name}} </span>
          </div>
      </ng-template>

        </div>

        <div class="Question">
          <div class="textQuestion">
            {{ question.question__text }}
          </div>

          <ul>
            <li>
              <span class="detailsQuetion"> Type:</span>
              {{ question.question__type }}
            </li>

            <li>
              <span class="detailsQuetion"> Type:</span>
              {{ question.question__subject }}
            </li>

            <li><span class="lab">Note:</span> {{ question.note }}</li>
          </ul>

          <div *ngIf="question.reponses.length > 0" style="margin-top: 40px">
            <div
              class="responses"
              *ngFor="let rep of question.reponses; let k = index"
            >
              <div
                class="response"
                [ngClass]="rep.reponse__statut == true ? 'true' : 'false'"
              >
                <p class="response__text">{{ rep.reponse__text }}</p>
                <p class="response__statut">{{ rep.reponse__statut }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="edit">
  <p-dialog
    [modal]="true"
    header="Edit Question"
    [(visible)]="edit"
    [style]="{ width: '35rem' }"
  >
    <app-add-question
      (questionAdded)="loadQuestions($event)"
      [questionEdit]="questedit"
      [subjectValue]="subject"
    ></app-add-question>

    <button
      type="button"
      class="btnAdd"
      style="position: absolute; top: 10px; right: 20px"
      (click)="edit = false"
    >
      <i class="fa-solid fa-times fa-xl"></i>
    </button>
  </p-dialog>
</div>
