<!-- 
  <nav>
  
  <div class="wrapper">
    <div class="logo"><a href="#">Logo</a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-links">


      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
     
      <li><a routerLink="/auth">C</a></li>
      
      <li><a routerLink="/auth"  style="background: #0d1b41; color: #f67621; cursor: pointer;">Sign In</a></li>
    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav> -->


<div class="barFull">
  <div class="logo">Logo</div>
<div class="leftofbar">

 <div class="btnBar" routerLink="/contact" >
    Contact
  </div>
  <div class="btnBar" routerLink="/auth"  style="background: #100d6a; color: #f67621; cursor: pointer;" >
    Sign in
  </div>

</div>
 



</div>

