@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";



.barFull{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  left: 10px;
right: 10px;
  background: #b5d7f800;
  backdrop-filter: blur(7px);
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.leftofbar{
  display: flex;
  gap: 30px;
}
.btnBar{
  padding: 10px;
  background: #0000;
  color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}
.logo {
  color: #464646;
  display: flex;
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-size: 1.5rem;
  /* width: 200px; */
  position: relative;
  align-items: center;
  cursor: pointer;
}
.imgNav{
  position: absolute;
  width: 100px;
  right: -30%;
  bottom: -50%;
  z-index: -1;
}