
<div id="cssportal-grid">
  <div id="div1">
    <div class="topBar">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100"
        height="100"
        viewBox="10 10 200 200"
        (click)="isMenuMobile = !isMenuMobile"
        [ngClass]="{ active: isMenuMobile, '': !isMenuMobile }"
      >
        <g stroke-width="5.5" stroke-linecap="round">
          <path
            d="M72 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 103.714l72.482-.143c.043 39.398-32.284 71.434-72.16 71.434-39.878 0-72.204-32.036-72.204-71.554"
            fill="none"
            stroke="#fff"
          />
          <path
            d="M72 125.143h28.75"
            fill="red"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 103.714l-71.908-.143c.026-39.638 32.352-71.674 72.23-71.674 39.876 0 72.203 32.036 72.203 71.554"
            fill="none"
            stroke="#fff"
          />
          <path
            d="M100.75 82.286h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
          <path
            d="M100.75 125.143h28.75"
            fill="#009100"
            fill-rule="evenodd"
            stroke="#fff"
          />
        </g>
      </svg>
      <ul>

        <li>
          <a (click)="toggleSettingsMenu()">
            <img src="../../../assets/mee.jpeg" alt="me" />
            <div class="bartitle">Name</div>
          </a>
         
        </li>
      </ul>
    </div>
  </div>
  <div id="div2">
    <router-outlet></router-outlet>
  </div>
  <div id="div3">
    <div class="menuBar" [ngClass]="{ menuBar: isMenuMobile, Scard: !isMenuMobile }">
      <div [ngClass]="{ body: isMenuMobile, Sbody: !isMenuMobile }">
        <ul>
          <li  routerLink="/student/dash" routerLinkActive="actives">
            <i pTooltip="Dashboard" class="fas fa-home fa-xs icon"></i>
            <div class="title">Dashboard</div>
          </li>

          <li   routerLink="/student/exam" routerLinkActive="actives">
            <i pTooltip="List Exam" class="fa-solid fa-table-list fa-xs icon"></i>
            <div class="title">List Exam</div>
          </li>
         
          <li  routerLink="/student/result" routerLinkActive="actives">
            <i pTooltip="Result" class="fa-solid fa-layer-group fa-xs icon"></i>
            <div class="title">Result</div>
          </li>
          <li  routerLink="/student/contact" routerLinkActive="actives">
            <i pTooltip="Contact" class="fa-solid fa-message fa-xs icon"></i>
            <div class="title">Contact</div>
          </li>
          <hr />
          <li  (click)="logout()">
            <i pTooltip="Logout" class="fa-solid fa-right-from-bracket fa-xs icon"></i>
            <div class="title">Logout</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
