<!-- <div class="row__card">
  <div class="News">
    <h3>last News</h3>
    <p>
      A glass-like card to demonstrate the
      <strong>Glassmorphism UI design</strong> trend.
    </p>
    <p class="News-footer">Created by Rahul C.</p>
  </div>
</div> -->
<div style="display: flex; flex-direction: column; gap: 30px" *ngIf="teacher">
  <div style="width: 100%">
    <div class="TitelForm">Groups:</div>
    <div
      style="display: flex; gap: 30px; flex-wrap: wrap"
      *ngIf="group.length > 0"
    >
      <div *ngFor="let g of group">
        <div class="subjects">
          <div class="borderDiv">
            {{ g.group__name }}
          </div>

          <div class="subtext">
            Students :

            <div>{{ g.students.length }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex">
    <div>
      <div class="TitelForm">Profil:</div>
      <div class="profilcard">
        <div class="headreProfil">
          <div class="profile-pic">
            <label class="-label" for="file">
              <span> <i class="fa-solid fa-camera"></i></span>
            </label>
            <input
              id="file"
              type="file"
              (change)="detectFilesSupport($event)"
            />
            <img
              class="imgprofil"
              [src]="imgProfil"
              alt=""
            />
            <div class="btnsave" *ngIf="updateimg" (click)="savePdp()">
              <i class="fa-solid fa-cloud-arrow-up"></i>
            </div>
          </div>

          <div class="nameprofil">
            {{ teacher.first__name }} {{ teacher.last__name }}
          </div>
        </div>

        <div class="contentprofil" *ngIf="teacher">
          <div>Email: {{ teacher.user__email }}</div>
          <div class="subjectProfil"  >Subjects:

            <div *ngFor="let sub of subjectsArray">
            <span class="itemSubjects"> {{ sub.subject__name }}</span>
          </div> 
          </div>
         
        </div>
      </div>

      <div class="btnResetPass"      pTooltip="you will be logged out and receive an email with a link to reset your password." 
      tooltipPosition="top"   (click)="SendMail()" >Reset Password</div>

    </div>

    <!-- <div>
      <div class="TitelForm">Certificates:</div>
    
    <div class="listExam" *ngIf="results.length > 0"  >
    
      <div class="itemListExam" *ngFor="let ans of results">
    
        <div>
       <div class="titleExam">{{ans.exam__title}}</div> 
       <div class="titleExam" style="margin-top: 20px;">Note : {{ans.ans__result}}</div>  
        </div>
        
    
        <img *ngIf="ans.ans__result > 15" class="badgeimg" src="../../../../assets/bdge.png" alt="" />
        
      </div>
    
    </div>
    <div *ngIf="results.length == 0" class="nocertif">
      There is no certificate
      <img class="badgeimg" src="../../../../assets/empypng.png" alt="" />
    </div>
    </div> -->
  </div>
</div>
