
 <header class="mainHeading">
    <div class="mainHeading__content">
       <div class="mainHeading__text">
         
          <h2 class="mainHeading__title">SmartSkills</h2>
          <p class="mainHeading__description">
            SmartExam help run and manage the class such as Class Roster, 
            Attendance, and more. With the Gradebook, 
            teachers can review and grade tests and quizzes in real-time.
          </p>
          <button class="cta">know more</button>
       </div>
 
       <div class="mainHeading__image">
          <img
             src="../../../../assets/hedr.png"
             alt=""
          />
          <span class="sp2"> <i class="fa-solid fa-award"></i><i class="fa-solid fa-calendar-days"></i>
         <div class="textcard">
            Congratulations
         </div></span>
         <span class="sp1"> <i class="fa-solid fa-calendar-days"></i>
          </span>
          <span class="sp3"></span>

       </div>
    </div>
 </header>
 