<div class="containerExam">
  <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
    <div class="containerForm">
      <legend>Add Exam</legend>
      <!--Text -->
      <div class="inputs">
        <div>
          <label for="text">Title</label>
          <input type="text" id="exam" formControlName="exam__name" />
          <div
            *ngIf="
              examForm.get('exam__name')?.invalid &&
              (examForm.get('exam__name')?.dirty ||
                examForm.get('exam__name')?.touched)
            "
          >
            <span class="error" *ngIf="examForm.controls['exam__name'].errors?.['required']"
              >This field is mandatory.</span
            >
            <span class="error" *ngIf="examForm.controls['exam__name'].errors?.['pattern']"
              >This field is invalid.</span
            >
          </div>
        </div>

        <!-- duration -->
        <!-- <div class="Row rowDuration">
         
          <div class="duration">
            <label for="number">Hour</label>
            <input
              type="number"
              id="durationHours"
              formControlName="durationHours"
            />
          </div>
          <div class="split">:</div>
          <div class="duration">
            <label for="number">minute</label>
            <input
              type="number"
              id="durationMinutes"
              formControlName="durationMinutes"
            />
          </div>
        </div> -->
        <label for="examType">Type Exam</label>
        <div id="examType" class="Row radio-group">
          <input
            type="radio"
            id="offline"
            name="exam__type"
            value="offline"
            formControlName="exam__type"
          /><label for="offline">offline</label>
          <label
            for=""
            [ngClass]="
              examForm.get('exam__type')?.value === '' ||
              examForm.get('exam__type')?.value === 'offline'
                ? 'online'
                : 'online__act'
            "
            >online</label
          >
          <input
            type="radio"
            id="QCM"
            name="exam__type"
            value="QCM"
            formControlName="exam__type"
          /><label for="QCM">QCM</label>
          <input
            type="radio"
            id="Normal"
            name="exam__type"
            value="Normal"
            formControlName="exam__type"
          /><label for="Normal">Normal</label>

          <input
            type="radio"
            id="File"
            name="exam__type"
            value="File"
            formControlName="exam__type"
          /><label for="File">File</label>
        </div>
        <div
          *ngIf="
            examForm.get('exam__type')?.invalid &&
            (examForm.get('exam__type')?.dirty ||
              examForm.get('exam__type')?.touched)
          "
        >
          <span class="error" *ngIf="examForm.controls['exam__type'].errors?.['required']"
            >This field is mandatory.</span
          >
          <span class="error" *ngIf="examForm.controls['exam__type'].errors?.['pattern']"
            >This field is invalid.</span
          >
        </div>
        <!-- files exam -->
        <div
          *ngIf="examForm.get('exam__type')?.value === 'File'"
          class="fileTestForm box"
        >
          <legend>files exam</legend>
          <ul class="boxpreview" *ngIf="urls != []">
            <div *ngFor="let url of urls; let i = index">
              <li>
                <div class="filepreview" [matTooltip]="url.name">
                  <div class="removeFile" (click)="removeFile(i)">
                    <i class="fa-solid fa-xmark fa-xl"></i>
                  </div>
                  <div class="previewimg">
                    <img *ngIf="url.type === 'image'" [src]="url.url" />
                    <i
                      *ngIf="url.type !== 'image'"
                      class="fa-solid  fa-file-{{ url.type }} fa"
                    ></i>
                  </div>

                  <div class="fileTitle">{{ url.name }}</div>
                </div>
              </li>
            </div>
          </ul>
          <div class="custome-file">
            <span>
              <img
                src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDY0IDY0IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGlkPSJDbGlwIj48cGF0aCBkPSJtMTIuMDggNTcuNzQ5YTkgOSAwIDAgMCAxMi43MjggMGwzMS4xMTItMzEuMTEzYTEzIDEzIDAgMSAwIC0xOC4zODQtMTguMzg1bC0yMC41MDcgMjAuNTA2IDEuNDE1IDEuNDE1IDIwLjUwNi0yMC41MDZhMTEgMTEgMCAxIDEgMTUuNTU2IDE1LjU1NmwtMzEuMTEyIDMxLjExMmE3IDcgMCAwIDEgLTkuOS05LjlsMjYuODctMjYuODdhMyAzIDAgMCAxIDQuMjQyIDQuMjQzbC0xNi4yNjMgMTYuMjY0IDEuNDE0IDEuNDE0IDE2LjI2NC0xNi4yNjNhNSA1IDAgMCAwIC03LjA3MS03LjA3MWwtMjYuODcgMjYuODdhOSA5IDAgMCAwIDAgMTIuNzI4eiIvPjwvZz48L3N2Zz4="
                alt=""
              />Attach File
            </span>
            <input
              type="file"
              accept=".doc, .docx, .pdf, .txt, .rtf, .md, .jpg, .jpeg, .png, .ppt, .pptx, .xls, .xlsx, .zip, .rar"
              multiple
              (change)="detectFiles($event)"
            />
          </div>
        </div>

        <!-- add question  -->

        <div
          *ngIf="
            examForm.get('exam__type')?.value === 'QCM' ||
            examForm.get('exam__type')?.value === 'Normal'
          "
          class="quistionForm box"
        >
          <!-- <div class="ADD" (click)="addQuestion()">ADD Question</div> -->
          <!-- Your question and answer form here -->
          <div [formGroup]="questionsForm">
            <legend>Question</legend>
            <!-- Text -->
            <div class="inputs bordercorner">
              <div class="Row">
                <div>
                  <div class="noteDiv">
                    <label for="number">Note :</label>

                    <input
                      type="number"
                      id="number"
                      formControlName="note"
                      min="1"
                      max="5"
                    />
                  </div>
                </div>
                <div class="Row radio-group">
                  <input
                    type="radio"
                    id="QCM_Q"
                    name="question__type"
                    formControlName="question__type"
                    value="QCM"
                  />
                  <label for="QCM_Q">QCM</label>
                  <input
                    type="radio"
                    id="NormalQ"
                    name="question__type"
                    formControlName="question__type"
                    value="Normal"
                    checked="true"
                  />
                  <label for="NormalQ">Normal</label>
                  <input
                    type="radio"
                    id="Problem_Q"
                    name="question__type"
                    formControlName="question__type"
                    value="Problem"
                  />
                  <label for="Problem_Q">Problem</label>
                </div>
              </div>
              <div class="Row">
                <div
                  *ngIf="
                    questionsForm.get('note')?.invalid &&
                    (questionsForm.get('note')?.dirty ||
                      questionsForm.get('note')?.touched)
                  "
                  style="margin-left: 0;"
                >
                  <span class="error"
                    *ngIf="questionsForm.controls['note'].errors?.['required']"
                    >This field is mandatory.</span
                  >
                  <span class="error" *ngIf="questionsForm.controls['note'].errors?.['msg']"
                    >Note must be in
                    {{ questionsForm.controls['note'].errors?.['msg'] }}.</span
                  >
                </div>
                <div
                  *ngIf="
                    questionsForm.get('question__type')?.invalid &&
                    (questionsForm.get('question__type')?.dirty ||
                      questionsForm.get('question__type')?.touched)
                  "
                >
                  <span class="error"
                    *ngIf="questionsForm.controls['question__type'].errors?.['required']"
                    >This field is mandatory.</span
                  >
                  <span class="error"
                    *ngIf="questionsForm.controls['question__type'].errors?.['pattern']"
                    >This field is invalid.</span
                  >
                </div>
              </div>
              <div>
                <label for="text">Question</label>
                <textarea id="text" formControlName="question__text"></textarea>
                <div
                  *ngIf="
                    questionsForm.get('question__text')?.invalid &&
                    (questionsForm.get('question__text')?.dirty ||
                      questionsForm.get('question__text')?.touched)
                  "
                >
                  <span class="error"
                    *ngIf="questionsForm.controls['question__text'].errors?.['required']"
                    >This field is mandatory.</span
                  >
                  <span class="error"
                    *ngIf="questionsForm.controls['question__text'].errors?.['pattern']"
                    >This field is invalid.</span
                  >
                </div>
              </div>

              <!-- answerQuiz -->
              <hr>
              <div
                *ngIf="questionsForm.get('question__type')?.value !== ''"
              class="repQuiz"
              >
                <div formArrayName="reponses">
                  <div
                    *ngFor="
                      let answer of $any(questionsForm.get('reponses')).controls;
                      let j = index
                    "
                    formGroupName="{{ j }}"
                  
                  >
                  
                    <div class="answer-container"  >
                      <div class="rmAns" (click)="removeAnswer(j)">
                        <i class="fa-solid fa-eraser fa-lg" style="color: #d50707; margin-top: 20px;"></i>
                      </div>
                      <div class="answer">
                        <label for="text">Answer</label>
                        <textarea
                          id="text"
                          formControlName="reponse__text"
                        ></textarea>
                      </div>
                      <label class="label">
                        <input
                          class="label__checkbox"
                          type="checkbox"
                          formControlName="reponse__statut"
                        />
                        <span class="label__text">
                          <span class="label__check">
                            <i class="fa fa-check icon"></i>
                          </span>
                        </span>
                      </label>
                     
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="add" (click)="addAnswer()">
                <i class="fa-solid fa-plus" style="color: #ebebeb;"></i>add question
              </div>
              <span class="border_btm"></span>
           
            </div>
            <div class="button-34" (click)="addQuestionAndReset()">
              add to the list
            </div>
          </div>
        </div>
        <!-- Button -->
        <button (click)="saveexam()">Submit</button>
      </div>
    </div>
  </form>

  <div class="listQuestions" *ngIf="questarr.length > 0">
    <app-listview [data]="questarr"></app-listview>
  </div>
</div>

<!-- uploadFile of exam -->
<div class="ADD">{{ this.listFile}}</div>
   <!-- <div class="card" *ngFor="let question of questarr; let k = index">
      
      <div class="infoQuest">
        <div class="cardinfo"><span class="lab">N: </span> {{ question.note }}</div>
        <div class="cardinfo">
          <span class="lab"> Type:</span> {{ question.question__type }}
        </div>
        <div class="cardinfo"><span class="lab">Note:</span> {{ question.note }}</div>
      </div>
      <span class="lab">Question:</span>
      <p>{{ question.question__text }}</p>
      <input type="checkbox" class="checkboxx" id="chk{{k}}" aria-hidden="true">
      <label class="bt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-270" style="color: #ebebeb;"></i></label>
      <div class="cardRep" >
        <label class="btt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-90" style="color: #ebebeb;"></i></label>

        <div *ngFor="let answer of question.reponses">  
           <span class="lab">rep:</span>
        <p>{{ answer.answerText }} <span>{{answer.reponse__statut}}</span>   </p>
      </div>
     
      </div>
    </div> -->