<!-- <div *ngIf="showAlert" class="custom-alert">Successfully created</div> -->

<div
  class="basicDetailsExam"
  *ngIf="examForm.get('exam__type')?.value === 'Normal'"
>
  <div class="DetailsExam">
    <div
      class="textBasic"
      style="max-width: 200px; text-wrap: balance; word-wrap: break-word"
    >
      TITLE:{{ examForm.get("exam__title")?.value }}
    </div>
    <div class="textBasic">
      Subject:{{ subjectForm.get("selectedSubject")?.value.subject__name }}
    </div>
    <div class="textBasic">Status:{{ examForm.get("obligatoire")?.value }}</div>
    <div class="textBasic">Type:{{ examForm.get("exam__type")?.value }}</div>
  </div>

  <div class="Row">
    <button (click)="Cancel()" style="background: #1935a3; color: #ffffff;">
      <i class="fa-solid fa-folder-plus"></i>Cancel
    </button>
    <button (click)="save()">
      <i class="fa-solid fa-folder-plus"></i>Save
    </button>
    <button (click)="savePlan()">
      <i class="fa-solid fa-calendar-days"></i> Save & Planing
    </button>
  </div>
</div>
<div
  *ngIf="examForm.get('exam__type')?.value !== 'Normal'"
  class="containerExam"
>
  <form [formGroup]="examForm">
    <div class="containerForm">
      <!--Text -->
      <div class="inputs">
        <!-- <div class="Row">
          <label for="text">Title</label>
          <input type="text" pInputText id="exam" formControlName="exam__title" />
        </div>
        <div
          *ngIf="
            examForm.get('exam__title')?.invalid &&
            (examForm.get('exam__title')?.dirty ||
              examForm.get('exam__title')?.touched)
          "
        >
          <span
            class="error"
            *ngIf="examForm.controls['exam__title'].errors?.['required']"
            >This field is mandatory.</span
          >
          <span
            class="error"
            *ngIf="examForm.controls['exam__title'].errors?.['pattern']"
            >This field is invalid.</span
          >
        </div> -->
        <div class="form-group col-md-12">
          <label>Title Exam :</label>
          <input
            type="text"
            pInputText
            placeholder="Enter First Name"
            class="form-control"
            formControlName="exam__title"
          />

          <div
            class="text-danger"
            *ngIf="
              examForm.controls['exam__title'].touched &&
              examForm.controls['exam__title'].invalid
            "
          >
            <span *ngIf="examForm.controls['exam__title'].errors?.['required']"
              >This field is mandatory.</span
            >
            <span *ngIf="examForm.controls['exam__title'].errors?.['pattern']"
              >This field is invalid.</span
            >
          </div>
        </div>
        <div
          style="
            display: flex;
            width: 100%;
            gap: 20px;
            justify-content: center;
            align-items: center;
          "
        >
          <div>
            <label for="">subject :</label>
            <div [formGroup]="subjectForm">
              <p-dropdown
                [options]="subjects"
                formControlName="selectedSubject"
                optionLabel="subject__name"
              
                [showClear]="true"
                placeholder="Select a Subject"
              >
                <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center gap-2">
                    <div>{{ selectedOption.subject__name }}</div>
                  </div>
                </ng-template>
                <ng-template let-subject pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ subject.subject__name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <div
                class="text-danger"
                *ngIf="
                  subjectForm.controls['selectedSubject'].touched &&
                  subjectForm.controls['selectedSubject'].invalid
                "
              >
                <span
                  *ngIf="subjectForm.controls['selectedSubject'].errors?.['required']"
                  >This field is mandatory.</span
                >
                <span
                  *ngIf="subjectForm.controls['selectedSubject'].errors?.['pattern']"
                  >This field is invalid.</span
                >
              </div>
            </div>
          </div>
          <div style="display: flex; gap: 10px; align-items: center">
            <label for="">Statut :</label>
            <div pInputText class="buttonStatus" [ngClass]="Status ? 'course': 'certif'" (click)="toggleStatut()">
              
              <div *ngIf="Status"  style="display: flex; gap: 5px;"><i class="fa-solid fa-book-open"></i>Course</div>
              <div *ngIf="!Status"  style="display: flex; gap: 5px;"><i class="fa-solid fa-bookmark"></i>Certificate</div>
            </div>
          </div>
        </div>

        <div
          class="form-group col-md-12"
          [ngClass]="{
            ErorInput:
              subjectForm.controls['selectedSubject'].invalid ||
              examForm.controls['exam__title'].invalid
          }"
        >
          <div class="typeExamGlobal">
            <i class="fa-solid fa-triangle-exclamation fa-xl"></i>Enter the
            title and subject firstly
          </div>
          <label for="examType">Type Exam :</label>
          <div id="examType" class="rowRol">
            <label
              class="roleName check"
              for="radio2"
              (click)="changeTypeGlobal('online')"
            >
              <div class="btnradio">
                <div class="cRadioBtn">
                  <div *ngIf="typeGlobal === 'online'">
                    <div class="overlay"></div>
                    <div class="drops xsDrop"></div>
                    <div class="drops mdDrop"></div>
                    <div class="drops lgDrop"></div>
                  </div>
                </div>
              </div>
              <div class="roleName_h2">Online</div>
            </label>

            <label
              class="roleName check"
              for="radio1"
              (click)="changeTypeGlobal('offline')"
            >
              <div class="btnradio">
                <div class="cRadioBtn">
                  <div *ngIf="typeGlobal === 'offline'">
                    <div class="overlay"></div>
                    <div class="drops xsDrop"></div>
                    <div class="drops mdDrop"></div>
                    <div class="drops lgDrop"></div>
                  </div>
                </div>
              </div>
              <div class="roleName_h2">Offline</div>
            </label>
          </div>
          <div *ngIf="typeGlobal === 'online'" class="Row">
            <div class="Row radio-group">
              <!-- <input
                type="radio"
                class="QuestionRadio"
                id="QCM"
                name="exam__type"
                value="QCM"
                formControlName="exam__type"
              />
              <label for="QCM">QCM</label> -->
              <input
                type="radio"
                class="QuestionRadio"
                id="Normal"
                name="exam__type"
                value="Normal"
                formControlName="exam__type"
              />
              <label for="Normal">Add Questions</label>
              <input
                type="radio"
                class="QuestionRadio"
                id="File"
                name="exam__type"
                value="File"
                formControlName="exam__type"
              />
              <label for="File">Add File</label>
            </div>
          </div>
          <div *ngIf="typeGlobal === 'offline'" class="Row">
            <div class="Row radio-group">
              <input
                type="radio"
                class="QuestionRadio"
                id="Empty"
                name="exam__type"
                value="offline"
                formControlName="exam__type"
              />
              <label for="Empty">Empty</label>
              <input
                type="radio"
                class="QuestionRadio"
                id="FileOff"
                name="exam__type"
                value="FileOff"
                formControlName="exam__type"
              />
              <label for="FileOff">Add File</label>
            </div>
          </div>
          <div class="Row">
            <div
              *ngIf="
                examForm.get('exam__type')?.invalid &&
                (examForm.get('exam__type')?.dirty ||
                  examForm.get('exam__type')?.touched)
              "
            >
              <span
                class="error"
                *ngIf="examForm.controls['exam__type'].errors?.['required']"
                >This field is mandatory.</span
              >
            </div>
          </div>

          <!-- <div class="offline">
            <div class="online">OR</div>
            <div id="examType" class="radio-group" style="margin: 10px 5px">
              <input
                type="radio"
                class="QuestionRadio"
                id="offline"
                name="exam__type"
                value="offline"
                formControlName="exam__type"
              />
              <label for="offline">offline</label>
            </div>
            <i
              *ngIf="
                examForm.get('exam__type')?.value !== '' &&
                examForm.get('exam__type')?.value == 'offline'
              "
              class="fa-solid fa-check fa-bounce fa-xl"
              style="color: #ffbd2e"
            ></i>
          </div> -->
        </div>

        <!-- files exam -->
        <div
          class="form-group col-md-12"
          *ngIf="
            examForm.get('exam__type')?.value === 'File' ||
            examForm.get('exam__type')?.value === 'FileOff'
          "
        >
          <label for="UpFile">Import Files :</label>
          <div id="UpFile" class="fileTestForm box">
            <ul class="boxpreview" *ngIf="urls != []">
              <div [ngClass]="errFile ? 'alert' : ''" *ngIf="errFile">
                <i
                  class="fa-solid fa-circle-exclamation fa-beat-fade fa-xl flex"
                >Add file
                </i>
               
              
              </div>
              <div *ngFor="let url of urls; let i = index">
                <li>
                  <div class="filepreview" [matTooltip]="url.name">
                    <div class="removeFile" (click)="removeFile(i)">
                      <i class="fa-solid fa-xmark fa-xl"></i>
                    </div>
                    <div class="previewimg">
                      <img *ngIf="url.type === 'image'" [src]="url.url" />
                      <i
                        *ngIf="url.type !== 'image'"
                        class="fa-solid  fa-file-{{ url.type }} fa"
                      ></i>
                    </div>

                    <div class="fileTitle">{{ url.name }}</div>
                  </div>
                </li>
              </div>
            </ul>
            <div class="custome-file">
              <span>
                <i class="fa-solid fa-paperclip fa-lg"></i>Attach File
              </span>
              <input
                type="file"
                accept=".doc, .docx, .pdf, .txt, .rtf, .md, .jpg, .jpeg, .png, .ppt, .pptx, .xls, .xlsx, .zip, .rar"
                multiple
                (change)="detectFiles($event)"
              />
            </div>
          </div>
        </div>

        <!-- add question  -->

        <!-- Button -->
        <hr />
        <div class="Row">
          <button (click)="save()">
            <i class="fa-solid fa-folder-plus"></i>Save
          </button>
          <button (click)="savePlan()">
            <i class="fa-solid fa-calendar-days"></i> Save & Planing
          </button>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="showCalendar">
    <button class="button-62" (click)="toggleCalendar()" role="button">
      <i class="fa-solid fa-xmark"></i>
      Cancel
    </button>
  </div>
  <div *ngIf="showCalendar" class="planingPop visible">
    <div
      class="calendar-popup"
      [ngStyle]="{ 'margin-top': !isMonthView ? '20%' : '0' }"
    >
      <app-calandarfull
        [data]="dataPLan"
        [groups]="group"
        (isMonthViewChange)="onIsMonthViewChange($event)"
      ></app-calandarfull>
    </div>
  </div>
</div>
<div
  *ngIf="examForm.get('exam__type')?.value === 'Normal'"
  class="containerExam"
>
  <div
    *ngIf="
      examForm.get('exam__type')?.value === 'QCM' ||
      examForm.get('exam__type')?.value === 'Normal'
    "
    class="quistionForm"
  >
    <app-add-question
      (questionAdded)="loadQuestions($event)"
      [subjectValue]="subjectValue"
      [examType]="examType"
    ></app-add-question>
  </div>
  <div class="ListsQuestion">
    <div class="Questions">
      <div class="TitelForm">Questions</div>
      <app-listview
        *ngIf="questarr && questarr.length > 0"
        [data]="questarr"
        [TypeArray]="false"
        (questionremoved)="removeQuestions($event)"
      ></app-listview>

      <div
        class="empty"
        [ngClass]="errQuestion ? 'alert' : ''"
        *ngIf="questarr && questarr.length == 0"
      >
        <i
          *ngIf="errQuestion"
          class="fa-solid fa-circle-exclamation fa-beat-fade fa-xl flex"
        >
          Questions</i
        >
        <div *ngIf="!errQuestion">No Questions</div>
      </div>
    </div>

    <div class="Questions" *ngIf="questions && questions.length > 0">
      <div class="TitelForm">Suggestive questions</div>
      <app-listview
        [data]="questions"
        [TypeArray]="true"
        (questionAdded)="loadQuestions($event)"
      ></app-listview>
    </div>
  </div>
</div>

<!-- uploadFile of exam -->
<!-- <div class="card" *ngFor="let question of questarr; let k = index">
      

      <div class="infoQuest">
        <div class="cardinfo"><span class="lab">N: </span> {{ question.note }}</div>
        <div class="cardinfo">
          <span class="lab"> Type:</span> {{ question.question__type }}
        </div>
        <div class="cardinfo"><span class="lab">Note:</span> {{ question.note }}</div>
      </div>
      <span class="lab">Question:</span>
      <p>{{ question.question__text }}</p>
      <input type="checkbox" class="checkboxx" id="chk{{k}}" aria-hidden="true">
      <label class="bt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-270" style="color: #ebebeb;"></i></label>
      <div class="cardRep" >
        <label class="btt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-90" style="color: #ebebeb;"></i></label>

        <div *ngFor="let answer of question.reponses">  
           <span class="lab">rep:</span>
        <p>{{ answer.answerText }} <span>{{answer.reponse__statut}}</span>   </p>
      </div>
     
      </div>
    </div> -->
