.containerExam {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 100%;


  gap: 10px;
}

form {
  width: 40%;
  min-width: 30rem;

}

.planingPop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgb(106 83 83 / 80%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  /* Initially hidden */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 50px;
}

.calendar-popup {

  display: block;
  /* or flex, inline-block, etc. based on your layout */
  position: absolute;

  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

}

.planingPop.visible {
  opacity: 1;
  /* Visible when showCalendar is true */
}

.add {
  background: #eff8ff;
  border-radius: 999px;
  box-shadow: #252525 0 10px 20px -10px;

  color: #0f3cdf;
  padding: 8px 18px;
  cursor: pointer;
  width: fit-content;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 990px;

}

.containerForm {
  background-color: #fff;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  padding: 30px 20px;
}

/* .boxpreview::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.boxpreview::-webkit-scrollbar
{
	width: 10px;
  height: 90px;
	background-color: #F5F5F5;
}

.boxpreview::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
} */

.boxpreview::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.boxpreview::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #DFE9EB;
}

.boxpreview::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.boxpreview::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.boxpreview::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}

.boxpreview::-webkit-scrollbar-thumb:hover {
  background-color: #FFBC2B;
}

.boxpreview::-webkit-scrollbar-thumb:active {
  background-color: #FFBA23;
}

.basicDetailsExam {
  display: flex;

  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-direction: column;
}

.DetailsExam {
  display: flex;
  justify-content: space-around;

}

.typeExamGlobal {
  display: none;
}

.ErorInput:hover .typeExamGlobal {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 49%);
  border-radius: 10px;
  z-index: 1;
  font-size: 20px;
  display: flex;
  font-weight: 600;
  justify-content: center;

  color: #f14141;
  text-shadow: 0px 0px 6px #212121;
  align-items: center;

}

.TitelForm {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 30px;
  color: #f68f39;
}

.textBasic {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
}

.ListsQuestion {
  display: flex;
  max-height: 900px;

  overflow: auto;
  padding: 10px;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.Row {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  /* background: #00159a; */
}

.buttonStatus {
  align-items: center;

  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,
    rgba(0, 0, 0, .14) 0 6px 10px 0,
    rgba(0, 0, 0, .12) 0 1px 18px 0;

  color: #f44336;
  cursor: pointer;
  display: inline-flex;

  height: 48px;
  justify-content: center;

  max-width: 100%;

  padding: 2px 24px;

  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),
    opacity 15ms linear 30ms,
    transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;

  will-change: transform, opacity;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  font-size: 17px;

}

.course {
  background: #ffffff;
  color: #1935a3;
}

.certif {
  background: #f5d07a;
  color: #000000;
}

.buttonStatus:hover {
  background: #05204f22;
  
}










input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.Radio {
  background: #eff8ff;
  color: #ff8b43;

  border-left: solid 2px #120f61;
  border-radius: 10px 0 0 10px;

}

.radio-group label {
  color: lighten(#1d18ac, 40%);
  margin-top: 0 !important;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
}

.QuestionRadio:checked+label {

  background: #f2f7fb;
  color: #ff8b43;

}

label+.QuestionRadio+label {
  border-left: solid 3px #120f61;
}

/* color: lighten(#1d18ac, 60%); */
.radio-group {
  border: solid #120f61 1px;
  /* display: inline-block; */
  margin: 10px auto;
  width: max-content;
  column-gap: 0;
  border-radius: 10px;
  overflow: hidden;
}

.duration input {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: #00159a solid 1px;
  align-items: center;
  text-align: center;
  background-color: #01010166;
}

.split {
  margin-top: 10%;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

.duration {
  display: flex;
  flex-direction: column;

}

.inputs {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  /* margin: 20px; */
  row-gap: 10px;
}

.rowRol {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}


.roleName {
  display: flex;
  padding: 10px;
  gap: 0.1em;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.roleName_h2 {
  margin: 0;
  text-align: center;
  color: #121212;

}

.btnradio {
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.cRadioBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fff;
  position: relative;
  border: solid 5px var(--border-color);
  box-sizing: border-box;
  transition: all 0.1s ease-in;
}

.roleName:hover .roleName_h2 {
  font-size: 1.3em;
  font-weight: bolder;
  color: #f43434;
}

.roleName:hover .cRadioBtn {
  border: solid 8px #ff8b43;
  background: #6C63AC;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: rgb(223, 223, 223);
}

.btnradio .cRadioBtn .overlay {
  background: #fff;
  animation: shrink 0.3s ease-in-out forwards;
}

.btnradio .cRadioBtn {
  background: #ff8b43;
  border-color: #ff8b43;
}

.drops {
  position: absolute;
  background: #fff;
  top: 30%;
  left: -100%;
  transform: translate(-50%);
  border-radius: 50%;
  aspect-ratio: 1;
}

.lgDrop {
  width: 50%;
}

.xsDrop {
  width: 20%;
}

.mdDrop {
  width: 30%;
}

.lgDrop {
  animation: drop 0.5s ease-in-out forwards;
}

.mdDrop {
  animation: drop 0.8s ease-in forwards;
}

.xsDrop {
  animation: drop 0.9s linear forwards;
}

@keyframes drop {
  0% {
    left: -100%;
  }

  50% {
    left: -100%;
  }

  75% {
    left: 10%;
  }

  100% {
    left: 50%;
  }
}

@keyframes shrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0px;
  }
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

label {
  display: block;
  margin-bottom: 0 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;

  font-size: 17px;
}

input,
.TextArea {
  display: block;
  height: 50px;
  width: 25rem;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  font-size: 17px;
  font-weight: 500;
}

.TextArea {
  min-height: 50px;
  max-height: 200px;
  max-width: 350px;
  resize: both;
}

.TextAreaAnswer {
  min-height: 50px;
  max-height: 200px;
  width: 100%;
  resize: both;
}

::placeholder {
  color: #a9a9a9;
}

button {
  background: #ffffff;
  box-shadow: #1935a3 0 10px 20px -10px;
  color: #1935a3;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none !important;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}




/* uploadexam */

.fileTestForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.custome-file {

  box-shadow: #1935a3 -5px 3px 20px -7px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  background: #1935a3;
  width: 140px;
  height: max-content;
  /* border: solid 1px rgba(16, 16, 16, 0.623); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}

.custome-file span {
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.custome-file span img {
  width: 24px;
  color: rgb(22, 22, 22);
  /* margin: 10px 0px; */
}

.custome-file input[type=file] {
  opacity: 0;

}

.custome-file input[type=file]:hover {
  cursor: pointer;
}

/* previewbox */


.boxpreview {
  width: 350px;
  max-height: 250px;

  border-radius: 10px;
  background: #bab9b900;
  display: flex;
  justify-content: stretch;
  list-style: none;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 10px;
}

.QuestFileView {
  position: relative;
  width: 110px;
  box-shadow: rgba(170, 170, 255, 0.175) 0px 30px 60px -12px inset, rgb(11 28 255 / 11%) 0px 18px 36px -18px inset;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 5px;
  margin: 0 10px;
}

.filepreview {
  position: relative;
  width: 110px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 5px;

}

.previewimg {
  margin-top: 5px;
  width: 90px;
  height: 110px;
  border-radius: 10px;
  background: #ebebeb86;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.previewimg img {
  width: 90px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}

.previewimg .fa {
  font-size: 4.5rem;
  color: #00159a;
}

.removeFile {
  position: absolute;
  width: 23px;
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  top: 0;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  box-shadow: rgba(39, 39, 43, 0.337) 0px 7px 29px 0px;
}

.removeFile:hover {
  color: red;
}

.removeFile:hover~.fileTitle {
  position: relative;
}

.removeFile:hover~.fileTitle::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: red;
  transform: translateY(50%);
  pointer-events: none;
}

.fileTitle {
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  max-height: 40px;
  color: #0f0f0f;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;

}


.empty {
  padding: 5% 0;

  background: white;
  display: flex;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  font-size: 17px;
}


.alert {
  background-color: #ffffff;
  color: #f44336;
}

/* listQuestion */

.card {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  min-height: 180px;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}

.bt {
  content: "";
  position: absolute;

  top: 90%;
  width: 100%;
  margin-left: -20px;
  background: #3b02ad;
  text-align: center;
  border-radius: 32px;

}

.btt {
  content: "";
  position: absolute;

  top: 0%;
  width: 100%;
  margin-left: -20px;
  background: #3b02ad;
  text-align: center;
  border-radius: 32px;

}


/* .card:hover::before{
    transition-delay:0.2s ;

  transform: scale(40);
}

.card:hover{
    color: #ffffff;

} */



.cardRep {
  border-radius: 10px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 400px;
  height: 220px;

  background-color: #2e22d64b;
  padding: 20px;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  backdrop-filter: blur(10px);
  margin: -20px 0 20px -20px;
  transform: translateY(200%);
  transition: transform 1s ease-out;
}

.checkboxx:checked~.cardRep {
  transform: translateY(0%);
}

#chk:checked~.card {
  padding: 0px;
}


.checkboxx {
  display: none;
}

.cardinfo {
  font-size: 20px;
  color: #00159a;
  margin: 10px 0;
  font-family: 'popins';
}


.infoQuest {
  display: flex;
  justify-content: space-around;
}

.lab {
  color: rgb(16, 16, 16);
  font-size: 20px;
  font-weight: 500;
}



/* displaying */

.repQuiz {
  border-left: #1b1b1c solid 2px;
  position: relative;
  padding-left: 15px;
  width: fit-content;

}

hr {
  margin-bottom: 0;
}

.bordercorner {
  position: relative;
  margin: 0 10px 20px 10px;
  padding: 10px;
  width: fit-content;
}

.bordercorner span.border_btm:after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom: 3px solid #3779e3;
  border-right: 3px solid #3779e3;
}

.bordercorner span.border_btm:before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-bottom: 3px solid #3779e3;
  border-left: 3px solid #3779e3;
}

.bordercorner:before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top: 3px solid #3779e3;
  border-left: 3px solid #3779e3;
}

.bordercorner:after {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 3px solid #3779e3;
  border-right: 3px solid #3779e3;
}

.online {
  background: #e2e2e200;
  color: #1b1a1a;
  padding: 8px 18px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;

}

.offline {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;


}






















.box {

  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.noteDiv {
  display: flex;
  align-items: center;
}

.noteDiv label {
  margin-top: 0;
}

.noteDiv input {
  width: 40px;
  height: 40px;


}

.corect {
  display: flex;
  align-items: center;
  margin: auto;
}

.corect label {
  margin-top: 0;
  display: none;
}

.corect input {
  width: 20px;
  height: 60px;
  border-radius: 50%;

}




.answer-container {

  display: flex;
  max-width: 300px;
  align-items: center;
  /* flex-flow: nowrap; */
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;


  gap: 10px;

}


.rmAns {
  margin-left: -10px;
  /* background: #c40000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px; */

}


/* CSS */
.button-34 {

  background: #eff8ff;
  border-radius: 999px;
  box-shadow: #252525 0 10px 20px -10px;
  margin: 0 20px;
  color: #1935a3;
  padding: 8px 18px;
  cursor: pointer;
  width: fit-content;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 990px;

}

.supportQuestion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 10px;
  border-bottom: 1px rgb(156, 156, 156) solid;
}

.answer {
  /* flex:1 1 auto; */
  /* flex-grow: 1; */
  width: fit-content;
  min-width: 300px;
}

.answer label,
.answer-container label {
  margin-top: 0;
}


.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background: white;
  vertical-align: middle;
  margin-right: 20px;
  margin-top: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
}

.label__check i.icon {
  opacity: 0.2;
  font-size: calc(1rem + 1vw);
  color: transparent;
  transition: opacity 0.3s 0.1s ease;
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.5);
}

.label__check:hover {
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.label__checkbox:checked+.label__text .label__check {
  -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
  animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}

.label__checkbox:checked+.label__text .label__check .icon {
  opacity: 1;
  transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
  animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}

@-webkit-keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }

  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }

  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }

  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }

  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}

@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }

  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.2);
    border-width: 15px;
  }

  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: rgba(0, 0, 0, 0.1);
    border-width: 0;
  }

  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }

  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}



.error {
  color: red;
  padding: 0;
  margin: 0;

}

.custom-alert {
  padding: 20px;
  background-color: #4CAF50;
  /* Green */
  color: white;
  margin-bottom: 15px;
  position: fixed;
  top: 50%;
  right: 40%;
  z-index: 1000;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.custom-alert .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.custom-alert .closebtn:hover {
  color: black;
}


.button-62 {
  position: fixed;
  top: 10px;
  right: 25px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 9911;
  width: 40px;
  height: 40px;
  overflow: hidden;
  justify-content: flex-start;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  width: max-content;
  gap: 3px;
  border-radius: 10px;
  transition: all 0.7s ease;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.question {
  margin-bottom: 20px;
}

.question__text {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.question__type, .note {
  margin: 0;
  color: #666;
}

.responses .response {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.responses .response.true {
  background-color: #d4edda;
  border-left: 4px solid #28a745;
}

.responses .response.false {
  background-color: #f8d7da;
  border-left: 4px solid #dc3545;
}

.response__id, .response__text, .response__statut {
  margin: 5px 0;
}