<div class="containerExam">
  <form [formGroup]="examForm" (ngSubmit)="onSubmit()">
    <div class="containerForm">
      <legend>Add Exam</legend>
      <!--Text -->
      <div class="inputs">
        <div class="Row">
          <label for="text">Title</label>
          <input type="text" id="exam" formControlName="subject" />
          <div
            *ngIf="
              examForm.get('subject')?.invalid &&
              (examForm.get('subject')?.dirty ||
                examForm.get('subject')?.touched)
            "
          >
            <span
              class="error"
              *ngIf="examForm.controls['subject'].errors?.['required']"
              >This field is mandatory.</span
            >
            <span
              class="error"
              *ngIf="examForm.controls['subject'].errors?.['pattern']"
              >This field is invalid.</span
            >
          </div>
          <div>
            <label for="">Statut</label>
            <div class="isStatut" (click)="toggleStatut()"> {{ statutExam }} </div>
          </div>
        </div>

    
        <div>
        <label for="examType">Type Exam</label>
        <div class="Row">
          
          <div class="online">
            online
            <i
              *ngIf="
                examForm.get('exam__type')?.value !== '' &&
                examForm.get('exam__type')?.value !== 'offline'
              "
              class="fa-solid fa-check fa-bounce fa-xl"
              style="color: #ffbd2e"
            ></i>
          </div>
        
        <div id="examType" class="Row radio-group">
          <input
            type="radio"
            id="QCM"
            name="exam__type"
            value="QCM"
            formControlName="exam__type"
          /><label for="QCM">QCM</label>
          <input
            type="radio"
            id="Normal"
            name="exam__type"
            value="Normal"
            formControlName="exam__type"
          /><label for="Normal">Normal</label>

          <input
            type="radio"
            id="File"
            name="exam__type"
            value="File"
            formControlName="exam__type"
          /><label for="File">File</label>
        </div>
      </div>
        <div class="offline">
          <div class="online">OR</div>
          <div id="examType" class="radio-group" style="margin: 10px 5px">

            <input
            type="radio"
            id="offline"
            name="exam__type"
            value="offline"
            formControlName="exam__type"
          /> <label for="offline">offline</label>
          </div>
          <i
            *ngIf="
              examForm.get('exam__type')?.value !== '' &&
              examForm.get('exam__type')?.value == 'offline'
            "
            class="fa-solid fa-check fa-bounce fa-xl"
            style="color: #ffbd2e"
          ></i>
        </div>
     
    </div>
        <div
          *ngIf="
            examForm.get('exam__type')?.invalid &&
            (examForm.get('exam__type')?.dirty ||
              examForm.get('exam__type')?.touched)
          "
        >
          <span
            class="error"
            *ngIf="examForm.controls['exam__type'].errors?.['required']"
            >This field is mandatory.</span
          >
          <span
            class="error"
            *ngIf="examForm.controls['exam__type'].errors?.['pattern']"
            >This field is invalid.</span
          >
        </div>
        <!-- files exam -->
        <div
          *ngIf="examForm.get('exam__type')?.value === 'File'"
          class="fileTestForm box"
        >
          <legend>files exam</legend>
          <ul class="boxpreview" *ngIf="urls != []">
            <div *ngFor="let url of urls; let i = index">
              <li>
                <div class="filepreview" [matTooltip]="url.name">
                  <div class="removeFile" (click)="removeFile(i)">
                    <i class="fa-solid fa-xmark fa-xl"></i>
                  </div>
                  <div class="previewimg">
                    <img *ngIf="url.type === 'image'" [src]="url.url" />
                    <i
                      *ngIf="url.type !== 'image'"
                      class="fa-solid  fa-file-{{ url.type }} fa"
                    ></i>
                  </div>

                  <div class="fileTitle">{{ url.name }}</div>
                </div>
              </li>
            </div>
          </ul>
          <div class="custome-file">
            <span>
              <img
                src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDY0IDY0IiB3aWR0aD0iNTEyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGlkPSJDbGlwIj48cGF0aCBkPSJtMTIuMDggNTcuNzQ5YTkgOSAwIDAgMCAxMi43MjggMGwzMS4xMTItMzEuMTEzYTEzIDEzIDAgMSAwIC0xOC4zODQtMTguMzg1bC0yMC41MDcgMjAuNTA2IDEuNDE1IDEuNDE1IDIwLjUwNi0yMC41MDZhMTEgMTEgMCAxIDEgMTUuNTU2IDE1LjU1NmwtMzEuMTEyIDMxLjExMmE3IDcgMCAwIDEgLTkuOS05LjlsMjYuODctMjYuODdhMyAzIDAgMCAxIDQuMjQyIDQuMjQzbC0xNi4yNjMgMTYuMjY0IDEuNDE0IDEuNDE0IDE2LjI2NC0xNi4yNjNhNSA1IDAgMCAwIC03LjA3MS03LjA3MWwtMjYuODcgMjYuODdhOSA5IDAgMCAwIDAgMTIuNzI4eiIvPjwvZz48L3N2Zz4="
                alt=""
              />Attach File
            </span>
            <input
              type="file"
              accept=".doc, .docx, .pdf, .txt, .rtf, .md, .jpg, .jpeg, .png, .ppt, .pptx, .xls, .xlsx, .zip, .rar"
              multiple
              (change)="detectFiles($event)"
            />
          </div>
        </div>
        <div
        *ngIf="
          examForm.get('exam__type')?.value === 'QCM' ||
          examForm.get('exam__type')?.value === 'Normal'
        "
        class="quistionForm box"
        >
<app-add-question  (questionAdded)="loadQuestions($event)"   [subjectValue]="subjectValue"  [examType]="examType"></app-add-question>

        </div>
        <!-- add question  -->

       
        <!-- Button -->
        <hr>
        <div class="Row">
          <button (click)="saveexam()">
            <i class="fa-solid fa-folder-plus" ></i>Save
          </button>
          <button (click)="saveexam()">
            <i class="fa-solid fa-calendar-days"></i> Save & Planing
          </button>
        
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="showCalendar" class="planingPop visible">
    <div  class="calendar-popup " [ngStyle]="{'margin-top': !isMonthView ? '20%' : '0'}">
      <app-calandarfull [data]="dataPLan" (isMonthViewChange)="onIsMonthViewChange($event)"></app-calandarfull>
    </div>
  </div>
  <div class="listQuestions" *ngIf="questarr && questarr.length > 0">
    <h3>list question</h3>
    <app-listview [data]="questarr"></app-listview>
  </div>
</div>







<!-- uploadFile of exam -->
<!-- <div class="card" *ngFor="let question of questarr; let k = index">
      

      <div class="infoQuest">
        <div class="cardinfo"><span class="lab">N: </span> {{ question.note }}</div>
        <div class="cardinfo">
          <span class="lab"> Type:</span> {{ question.question__type }}
        </div>
        <div class="cardinfo"><span class="lab">Note:</span> {{ question.note }}</div>
      </div>
      <span class="lab">Question:</span>
      <p>{{ question.question__text }}</p>
      <input type="checkbox" class="checkboxx" id="chk{{k}}" aria-hidden="true">
      <label class="bt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-270" style="color: #ebebeb;"></i></label>
      <div class="cardRep" >
        <label class="btt" for="chk{{k}}" aria-hidden="true"><i class="fa-solid fa-angles-right fa-rotate-90" style="color: #ebebeb;"></i></label>

        <div *ngFor="let answer of question.reponses">  
           <span class="lab">rep:</span>
        <p>{{ answer.answerText }} <span>{{answer.reponse__statut}}</span>   </p>
      </div>
     
      </div>
    </div> -->
