.time-text {


  line-height: 52pt;
  display: flex;
  justify-content: center;
}

.time-item {
  font-family: Calibri;
  font-size: 59pt;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-left{
  font-family: Calibri;
  font-size: 25pt;
  display: flex;
  margin: 20px 0
}
.spaced-text {
  font-family: Calibri;
  font-size: 59pt;
  
}

.date-text {
  margin-top: 43pt;
  margin-left: 217.1pt;
  text-align: justify;
  line-height: 26.85pt;
}

.medium-text {
  font-family: Calibri;
  font-size: 22pt;
}

.spaced-medium-text {
  font-family: Calibri;
  font-size: 22pt;
  letter-spacing: 42.25pt;
}

.new-text {

  margin-left: 0.7pt;
  font-family: Calibri;
  font-size: 22pt;
 
}

.small-text {
  font-family: Calibri;
  font-size: 20pt;
}

.miracle-text {
  margin-top: 66.75pt;
  margin-left: 0.7pt;
  text-align: justify;
  line-height: 43.9pt;
}

.large-miracle-text {
  font-family: Calibri;
  font-size: 36pt;
}


.previewimg {
  margin-top: 5px;
  width: 90px;
  height: 110px;
  border-radius: 10px;
  background: #d6d6d6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.rowDetail{
  display: flex;
  margin-left: -40px;
  margin-bottom: 20px;
  /* list-style-type: none; */
  gap: 5%;
  justify-content: flex-end;
  /* flex-direction: row; */
  background: #4b5563;
  color: white;
  box-shadow: 5px 5px 5px 0px #f16000;
  border-radius: 30px;
  padding: 10px 20px;
  width: 70%;
  text-align: center;
  align-content: center;
  align-items: center;
  
}
.examtaken {
  z-index: 99999;
  display: block; /* Show when fullscreen class is applied */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(235, 235, 235); /* Optional: Add background color with opacity */
  z-index: 1000; /* Ensure it appears on top */
  overflow: auto; /* Handle overflow */
}
.otp-input {
  width: 45px;
  font-size: 36px;
  border: 0 none;
  appearance: none;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
  border-bottom: 2px solid var(--surface-500);
  border-radius: 0px;
  margin: 0 0.2rem;
}

.otp-input:focus {
  outline: 0 none;
  box-shadow: none;
  border-bottom-color: var(--primary-color);
} 
.boxstand{
  min-height: 30%;
width: 40%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
gap: 20px;
}
.examtaken .boxExam,.examtaken .boxstand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: max-content;
  max-height: 95%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto; /* Handle content overflow */
  padding: 20px;
}

.previewimg img {
  width: 90px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}
.fileTitle {
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  height: 23px;
  width: 80px;
  color: #0f0f0f;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;

}
.previewimg .fa {
  font-size: 4.5rem;
  color: #00159a;
}

.fleximg{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.examFiles{
  margin: 20px 0;
display:-webkit-inline-box;
/* justify-content: space-around;
gap: 10px;
align-content: start;
align-items: stretch; */


}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
    padding: 50px 0;
  }
  a:link {
    text-decoration: none;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    min-width: 20rem;
    margin: 0 15px 30px;
  
    overflow: hidden;
  
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    width: 30rem;
    min-width: unset;
    padding: 30px 20px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    text-decoration:none;
    /* overflow: hidden; */
    line-height:1;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  
    z-index: 0;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 0;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 0;
    position: absolute;
    top: -75px;
    right: 100px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }