<div class="TitelForm"> Exams Certificate </div>
<p-carousel
  [value]="CertifExam"
  [numVisible]="3"
  [numScroll]="3"
 
>
  <ng-template let-event pTemplate="item">
  

    <div class="ard" *ngIf="subscribe[event.exam__id].acceptation !== false"  (click)="showDialog(event)">
      <div class="paperclip">
        <i class="fa-solid fa-paperclip fa-flip-vertical fa-2xl"></i>
      </div>
      <div class="note">
        <div style="transform: rotate3d(1, 1, 1, -15deg); margin-top: 4px">
          {{ event.startDate | date : "MMM " }}
        </div>
        <div style="transform: rotate3d(1, 1, 1, -15deg)">
          {{ event.startDate | date : "dd " }}
        </div>
      </div>

      <div class="title">{{ event.title }}</div>
      <div class="description">
       {{event.desc}}
      </div>
      <div class="description">
        {{ event.startDate | date : "shortTime" }} -
        {{ event.endDate | date : "shortTime" }}
      </div>
      <div class="footer"></div>
    </div>
    
  </ng-template>
</p-carousel>
<div class="TitelForm"> Exams Course </div>
<div class="ag-format-container">
  <div class="ag-courses_box">
    <div *ngFor="let event of CourseExam" class="ag-courses_item">
      <a (click)="showDialog(event)" class="ag-courses-item_link">
        <div class="ag-courses-item_bg"></div>

        <div class="ag-courses-item_title">
          {{ event.title }}
        
        </div>
        <div class="ag-courses-item_date-box">
        
          <span class="ag-courses-item_date">
            {{ event.startDate | date : "EEEE dd MMMM" }}
          </span>
        </div>
        <div class="ag-courses-item_date-box">
          {{ event.startDate | date : "shortTime" }} -
          {{ event.endDate | date : "shortTime" }}
        </div>
      </a>
    </div>
 
  </div>
</div>



<p-dialog
  header="{{ plan.title }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div>
    <div class="time-text">
      <div class="time-item">
        <div>{{ days }}</div>
        <div class="medium-text">Days</div>
      </div>

      <div class="spaced-text">:</div>
      <div class="time-item">
        <div>{{ hours }}</div>
        <div class="medium-text">Hours</div>
      </div>
      <div class="spaced-text">:</div>
      <div class="time-item">
        <div>{{ minutes }}</div>
        <div class="medium-text">Min</div>
      </div>
      <div class="spaced-text">:</div>
      <div class="time-item">
        <div>{{ seconds }}</div>
        <div class="medium-text">Sec</div>
      </div>
      <p-button
        *ngIf="
          days === '00' &&
          hours === '00' &&
          minutes <= '10' &&
          (plan.obligation ||
            (subscribe[plan.exam__id] && subscribe[plan.exam__id].acceptation))
        "
        (click)="takeExam()"
        [style]="{
          margin: '0 10px',
          height: '50px',
          borderRadius: '10px',
          lineHeight: '0',
          outline: 'none'
        }"
        label="Time is almost up!"
        [raised]="true"
        severity="warning"
      />
      <p-button
        *ngIf="
          !plan.obligation &&
          subscribe[plan.exam__id] &&
          !subscribe[plan.exam__id].check
        "
        (click)="sendSubscribe()"
        [style]="{
        margin: '0 10px',
          height: '50px',
          borderRadius: '10px',
          lineHeight: '0',
          outline: 'none',
          border: 'solid 1px #fac4a1',
          background: '#ffffff',
          color: '#4b5563',
          boxshadow: '5px 5px 5px 0px #f16000',
      }"
        label="Subscribe"
        [raised]="true"
        severity="info"
      />
    </div>
    <div class="rowDetail">
      <div class="new-text">Subject: {{ examShow.subject }}</div>

      <div class="new-text">
        {{ plan.salle ? "Salle " + plan.salle : "Remotly" }}
      </div>
    </div>
    <div  *ngIf="hasSupportFile(examShow)"  class="new-text">Documents:</div>
    <div class="examFiles">
      <div *ngIf="examShow.fileExam" class="supportitems">
            <div
              *ngFor="let f of examShow.fileExam; let index = index"
              key="index"
              class="supportitem"
            >
              <div *ngIf="f.file__type === 'support'">
                <div class="supportimg" (click)="openFile(f.file__path)">
                  <i
                    *ngIf="typeFile(f).type !== 'image'"
                    class="fa-solid  fa-file-{{ typeFile(f).type }} fa"
                  ></i>
                  <img
                    *ngIf="typeFile(f).type === 'image'"
                    [src]="f.file__path"
                  />
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</p-dialog>

<div *ngIf="ready" class="examtaken">
  <div class="boxstand">
    <div class="time-left">
      time left:
      <div class="medium-text">{{ minutes }}:{{ seconds }}</div>
    </div>

    <div *ngIf="!accept">
      <form [formGroup]="otpForm">
        <input
          class="otp-input"
          formControlName="otp1"
          type="text"
          maxlength="1"
        />
        <input
          class="otp-input"
          formControlName="otp2"
          type="text"
          maxlength="1"
        />
        <input
          class="otp-input"
          formControlName="otp3"
          type="text"
          maxlength="1"
        />
        <input
          class="otp-input"
          formControlName="otp4"
          type="text"
          maxlength="1"
        />
      </form>
      <p-button
        *ngIf="
          otpForm.get('otp1')?.value !== '' &&
          otpForm.get('otp2')?.value !== '' &&
          otpForm.get('otp3')?.value !== '' &&
          otpForm.get('otp4')?.value !== ''
        "
        (click)="acceptcode()"
        label="Valid"
        [raised]="true"
        [style]="{
          margin: '0 10px',
          color: '#444ae3',
          borderRadius: '10px',
          background: '#eef2ff',
          outline: 'none'
        }"
      />
    </div>
    <!-- <div *ngIf="!accept">

	</div> -->
    <!-- <button
	*ngIf="
	  otpForm.get('otp1')?.value !== '' &&
	  otpForm.get('otp2')?.value !== '' &&
	  otpForm.get('otp3')?.value !== '' &&
	  otpForm.get('otp4')?.value !== ''
	"
	(click)="acceptcode()"
  >
	Enter
  </button> -->
  </div>
  <div class="boxExam" *ngIf="accept && hours === '00' && minutes === '00' && seconds === '00'">
    <!-- hours === '00' && minutes === '00' && seconds === '00' -->
    <app-examtaken
      [idExam]="examShow.exam__id"
      [startDate]="plan.startDate"
      [endDate]="plan.endDate"
      (answerSended)="loadAnswer($event)"
    ></app-examtaken>
  </div>
</div>
