/* You can add global styles to this file, and also import other style files */

body {

  background: linear-gradient(0deg, #FFFFFF, #E7EEFF) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {

  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #DFE9EB;
}

::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #F90;
  background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .2) 25%,
                                            transparent 25%,
                                            transparent 50%,
                                            rgba(255, 255, 255, .2) 50%,
                                            rgba(255, 255, 255, .2) 75%,
                                            transparent 75%,
                                            transparent);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFBC2B;
}

::-webkit-scrollbar-thumb:active {
  background-color: #FFBA23;
}

@layer primeng {
  .p-speeddial {
    position: relative !important;
    display: flex;
    z-index: 1;
    justify-content: flex-start;
   
    height: 40px !important;
    width: 40px !important;
  }
 .notet .p-dialog-footer{
    background: rgb(135, 136, 136) !important;

  }
  .p-button-rounded {
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
   
    color: rgb(4, 32, 132) !important;
  }
.p-button-outlined{
  padding: 0.8rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}.p-button.p-button-icon-only{
  padding: 0.75rem !important;
}
  .p-speeddial-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0s linear .2s;
    pointer-events: none;
    transform:translate(65px, -25px)  !important;
  
    
  }

  .p-speeddial-item {
    transform: scale(0);
    opacity: 0;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1) 0ms, opacity .8s;
    will-change: transform;
    
  }

  .p-speeddial-action {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  
    z-index: 99 !important;
  }
/* ul{


 transform:translate(-40px, 100px)  !important;
}
ul li {
  background: rgb(26, 26, 26) !important;
} */
  .p-speeddial-circle .p-speeddial-item,
  .p-speeddial-semi-circle .p-speeddial-item,
  .p-speeddial-quarter-circle .p-speeddial-item {
    position: absolute;
    margin-top: 0 !important;
    
  }
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a{
    color: #FF8E00!important;

}
  .p-speeddial-rotate {
    transition: transform .25s cubic-bezier(.4, 0, .2, 1) 0ms;
    will-change: transform
  }
 .p-image>img{
    /* */
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
      }
    .p-image{
   max-width:  500px;
    max-height: 500px;
    min-width: 100px; 
    min-height: 100px; 
    width: 200px;
      }
    #taken>.p-image{
    text-align: center;
    height: auto;
      resize: both;
      overflow: auto;
   /*   border: 1px solid #8d8d8d;  Optional: To visualize the container */
      display: inline-block;
   
  }
  /* .p-speeddial-mask {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .25s cubic-bezier(.25, .8, .25, 1);
    background: rgba(184, 183, 183, 0.35) !important;
    backdrop-filter: blur( 2px ) !important;
    -webkit-backdrop-filter: blur( 2px ) !important;
    border-radius: 10px !important;
  } */

  .p-speeddial-mask-visible {
    pointer-events: none;
    opacity: 1;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
    z-index: 2 !important;
  }
  .modal-backdrop {
    z-index: 999 !important;
  }
  .p-speeddial-opened .p-speeddial-list {
    pointer-events: auto;
    position: absolute !important;
    z-index: 99 !important;
    margin-left: -800% !important;
      }
          .p-speeddial-opened {
    z-index: 7 !important;
    border: none !important;
   
  }

  .p-speeddial-opened .p-speeddial-item {
    transform: scale(1);
    opacity: 1;

  }
  .p-speeddial-item {
    background: rgb(249, 249, 249) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50% !important;
    
  }
 
  .p-speeddial-opened .p-speeddial-rotate {
    transform: rotate(45deg)
  }

  .p-speeddial-direction-up {
    align-items: center;
    flex-direction: column-reverse
  }

  .p-speeddial-direction-up .p-speeddial-list {
    flex-direction: column-reverse
  }

  .p-speeddial-direction-down {
    align-items: center;
    flex-direction: column
  }

  .p-speeddial-direction-down .p-speeddial-list {
    flex-direction: column
  }

  .p-speeddial-direction-left {
    justify-content: center;
    flex-direction: row-reverse
  }

  .p-speeddial-direction-left .p-speeddial-list {
    flex-direction: row-reverse
  }

  .p-speeddial-direction-right {
    justify-content: center;
    flex-direction: row
  }

  .p-speeddial-direction-right .p-speeddial-list {
    flex-direction: row
  }
}

/* dashbords */
button{
  border-radius: 15px !important;
}
#cssportal-grid {
  display: grid;
  grid-template-rows: 70px;
  grid-template-columns: max-content max-content 1fr;
  gap: 0;
  grid-template-areas:
    "nav head head  "
    "nav  main main "
    "nav  main main";
  width: 100%;
  height: 100%;
}

#div1 {
  grid-area: head;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: transparent;
  z-index: 999;
  animation: slideIn 1s forwards;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
}

@keyframes slideIn {
  from {
    transform: translateY(-10%);
    /* Start from the left */
    opacity: 0;
    /* Optional: start with opacity 0 */
  }

  to {
    transform: translateY(0);
    /* End at the current position */
    opacity: 1;
    /* Optional: end with opacity 1 */
  }
}

#div2 {
  grid-area: main;
  padding-top: 100px;
  background-color: transparent;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

/* router-outlet {
    grid-area: main;
    background-color: #5c6d78;
    
  } */
#div3 {
  grid-area: nav;
  background: #100d6a;
  position: relative;
  padding-top: 100px;
  height: 100%;

}





.menuBar {
  width: 350px;
  position: relative;
  background-color: transparent;
  border-radius: 10px 10px;
  border: none !important;
  transition: 1s all;
  top: 100px;
  left: 10px;
  position: sticky;
}

.Scard {
  /* margin-top: 50%; */
  transition: 1s all;
  position: relative;
  width: 100px;
  top: 100px;
  left: 10px;
  position: sticky;
  background-color: transparent;

}







.icon {
  width: 41px;
  height: 41;
}

.Sbody ul,
.body ul {
  overflow: hidden;
}

.Sbody ul li,
.body ul li {

  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding: 20px 40px;
  margin-left: -30px;
  margin-top: 0px;
  color: #ffffff;
  list-style: none;
  display: flex;
  text-wrap: nowrap;
  text-align: center;
  align-items: center;
  /* justify-content:space-around; */
  column-gap: 5px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative
}



.Sbody ul li:hover::after,
.body ul li:hover::after,
.Sbody ul li:hover::before,
.body ul li:hover::before,
.actives::after,
.actives::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 16px 16px #ebf1ff;


}

.Sbody ul li:hover::after,
.body ul li:hover::after,
.actives::after {
  box-shadow: 16px 16px #ebf1ff;
  top: 6px;
  transform: translate(0px, 168%) rotate(-90deg);
}

.Sbody ul li .title {

  overflow: hidden;
  animation-duration: 0.5s;
  animation-name: slideout;
  opacity: 0;
}

@keyframes slideout {
  from {
    width: 100%;
    margin-left: 0;
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  to {
    width: 0;
    margin-left: -100%;
    opacity: 0;
  }
}


.body ul li .title {
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.title {
  margin: auto 0 0;

  font-size: 20px;
  /* transition: 1s all  ease ; */

}



li:hover,
.actives {
  color: #100d6a !important;
  background: linear-gradient(90deg, #ffffff 40%, rgb(236 241 255) 99%);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;

}

/* .body>li,
  .Sbody>li {
    float: left;
    cursor: pointer;
  position: relative;
  } */
/*   
  .Sbody li ul,
  .body li ul {
    background: #aac5f380;
    margin-left: 280px;
    margin-top: -38px;
    display: none;
    position: absolute;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
  } */
.sub-menu {
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(252, 252, 252, 0.521) 0px 18px 36px -18px inset;
}

.sub-menu li {
  padding: 20px 10px !important;


}

.sub-menu li {
  text-decoration: none;
  color: #660202;
}

.sub-menu li:hover {
  color: #0e0d0d;
  background-color: #f2f5f7;
}













.topBar {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px;
  width: 100%;
  height: 70px;
  /* box-shadow: -3px -14px 5px -9px #e4e4e4bf inset;
    -webkit-box-shadow: -3px -14px 5px -9px #e4e4e4bf inset;
    -moz-box-shadow: -3px -10px 5px -9px #e4e4e4bf inset;
     */


}

.topBar a {
  display: flex;
  align-items: center;
  align-content: center;
}

.topBar li {
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* padding: 15px; */
  margin-left: 40px;
  margin-top: 0px;
  color: #0c0c0c;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-radius: 10px 10px;

}

.bartitle {
  display: none;
}

.topBar ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.topBar li ul li {
  margin-left: -30px;
  margin-bottom: 4px;
  padding: 10px 5px;
  /* background: #aac5f380; */


}

.topBar li ul li:hover {


  background: #7fbff780;


}

.topBar ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;


}

.topBar ul ul {
  display: none;
  margin-left: -90px;
  margin-top: 50px;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color: #edededa6;
  backdrop-filter: blur(10px);
  z-index: 2;
}

hr {
  width: 100%;
  margin-left: -15px;
}

.topBar ul li:hover ul {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  /* padding: 7px; */

  position: absolute;

}

.topBar ul li .notification-count {
  position: relative;
  z-index: 1;
  margin-top: -25px;
  margin-left: -6px;
  width: 20px;
  height: 20px;
  line-height: 30px;
  font-size: 18px;
  border-radius: 50%;
  background-color: #ff4927;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar i {
  font-size: 25px;
}


/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .Scard {
    display: none;
  }

  #cssportal-grid {
    grid-template-rows: max-content max-content;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "main"
    ;
  }

  #div3 {
    position: absolute;
    margin-top: 55px;
  }

  #div1 {
    height: 55px;
  }

  .topBar {
    padding-left: 0.5%;

  }

  .topBar ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .bartitle {
    display: none;
  }
}
