<div class="email-container">
    <div class="email-header">
        
   
        <div class="Titel">Email Confirmed</div>


        <p style="margin-left: 30px;" class="subTitel">Thank you for registering.</p>
        <p style="margin-left: 40px;" class="subTitel">Please check your email for a confirmation message. </p>
        <p style="margin-left: 40px;" class="subTitel">We will send you instructions to log in to your account. </p>
    </div>
  <div>
    <img class="email-img"  src="../../../assets/comfirmed.jpg" alt="">
  </div>
</div>