.bb div button {
  background-color: black !important;
}


.readonly-input {
  border: none;
  background: transparent;
  pointer-events: none;
  padding: 0 auto !important;
  max-width: 90%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 17px;
}



.radio-group label {
  color: lighten(#1d18ac, 40%);
  margin-top: 0 !important;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 15px;
}

.QuestionRadio:checked+label {

  background: #f2f7fb;
  color: #ff8b43;

}
input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
label+.QuestionRadio+label {
  border-left: solid 3px #120f61;
}

/* color: lighten(#1d18ac, 60%); */
.radio-group {
  border: solid #120f61 1px;
  /* display: inline-block; */
  margin: 10px auto;
  width: max-content;
  column-gap: 0;
  border-radius: 10px;
  overflow: hidden;
}




.supportitems{
display: flex;  
}
.supportitem {
  display: flex;
  /* height: 280px; */
  /* width: 200px; */
  /* background-color: #17141d; */
  /* border-radius: 10px; */
  /* box-shadow: -1rem 0 3rem #000; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.supportitem:not(:first-child) {
    margin-left: -20px;
 
}

.supportitem:hover {
  transform: translateY(-10px);
  transition: 0.4s ease-out;
}

.supportitem:hover ~ .supportitem {
  position: relative;
  left: 10px;
  transition: 0.4s ease-out;
}

.supportimg{
  margin-top: 5px;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  background: #ffffff;
  box-shadow: rgb(100 100 111 / 16%) -3px 4px 16px -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0 0 0 / 16%);
  text-align: center;
  position: relative;
}
.supportimg img {
  width: 30px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}
.readonl{
  background: transparent;
  border: none;
}
.supportimg .fa {
  font-size: 1.5rem;
  color: #00159a;
}
.btnUpSup{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 7px;
  right: 6px;
  background: #ffffff;
  /* border-bottom: 1px solid black; */
  
}


.Row {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  /* background: #00159a; */
}
.boxpreview {
  width: 350px;
  max-height: 250px;

  border-radius: 10px;
  background: #bab9b900;
  display: flex;
  justify-content: stretch;
  list-style: none;
  flex-wrap: wrap;
  overflow-y: scroll;
  gap: 10px;
}
/* button {
  background: #ffffff;
  box-shadow: #1935a3 0 10px 20px -10px;
  color: #1935a3;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none !important;
  display: flex;
  justify-content: center;
  column-gap: 5px;
} */
.btnUp{
  
  background: #ffffff;
  box-shadow: #1935a3 2px 5px 20px -7px;
  color: #1935a3;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none !important;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 10px;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: -64px;
}
.btnsave{

  background: #ffffff;
  box-shadow: #1935a3 2px 5px 20px -7px;
  color: #1935a3;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  border: none !important;
  display: flex;
  justify-content: center;
  column-gap: 5px;
  bottom: 10px;
  right: 15px;
  margin-bottom: 10px;
  align-items: center;
  

 
}

legend{
      /* display: block; */
      width: 100%;
      max-width: 100%;
      padding: 0;
      /* margin-bottom: .5rem; */
      background: #ffffff !important;
      font-size: 1.5rem;
      line-height: inherit;
      color: inherit;
      /* display: flex; */
      white-space: normal;
      /* justify-content: center; */
      /* align-items: center; */
}
.btnAdd {
  background: white;
  border: 0;
  border-radius: 10px;
  color: #dd9912;
  cursor: pointer;
 
  align-items: center;
  font-family: -apple-system,
  system-ui,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif;
  font-size: 16px;
  font-weight: 500;
 
  outline: transparent;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  overflow: hidden;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,
  rgba(0, 0, 0, .14) 0 6px 10px 0,
  rgba(0, 0, 0, .12) 0 1px 18px 0;
}
.deletebtn{
  position: absolute;
  background: #f4433630;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
  padding: 5px;
  left: -19px;
  margin-top: -7px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: rgb(13 13 13 / 63%) -2px 4px 20px -7px;
}
.nonclickable {
  pointer-events: none !important;
  color: gray !important;
  box-shadow: #f44336 2px 5px 20px -7px;
}
label {
  resize: none;
  display: block;
  margin-bottom: 5px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.planingPop{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: rgb(106 83 83 / 80%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  padding: 50px;
}
.calendar-popup {
 
  display: block;


  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 
}
.planingPop.visible {
  opacity: 1; /* Visible when showCalendar is true */
}

.inputTimes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: max-content;
}
.inputTimes input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
 
  box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;
}

/* Hover and focus states for the input */
.inputTimes input:hover,
.inputTimes input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
}


.inputTimes input::placeholder {
  color: #888;
  font-style: italic;
}


.inputTimes input[type="time"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}



.inputTimes input[type="time"]::-webkit-inner-spin-button,
.inputTimes input[type="time"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-62 {
  position: fixed;
  top: 10px;
  right: 25px;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 9911;
  width: 40px;
  height: 40px;
  overflow: hidden;

}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  width: max-content;
  gap: 3px;
  border-radius: 10px;
  transition: all 0.7s ease;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.marginleft {
  margin: 5px;
}



.styled-select {
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}


.styled-select::after {
  content: '\25BC';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #666;
}



.styled-select:hover {
  border-color: #aaa;
}

.styled-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.styled-option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}



.styled-select option:hover {
  background-color: #f0f0f0;
}


.select-container {
  position: relative;
  display: inline-block;
}

.select-container .styled-select {
  width: 100%;
}

.fleximg {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.RowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px auto;
}

.previewimg {
  margin-top: 5px;
  width: 90px;
  height: 110px;
  border-radius: 10px;
  background: #d6d6d6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.previewimg img {
  width: 90px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}

.previewimg .fa {
  font-size: 4.5rem;
  color: #00159a;
}

.examFiles {
  margin: 20px 0;
  display: -webkit-inline-box;
  /* justify-content: space-around;
  gap: 10px;
  align-content: start;
  align-items: stretch; */

  max-width: 50%;
}

.overpanelClose {
  float: right;
  margin-top: -40px;
  margin-right: -40px;
  background: #ffffff;
  border-radius: 50%;

}

.fileAnswer {
  /* border-left: #00159a solid 2px; */
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  max-height: 200px;
  margin: 20px;
  gap: 7px;
}

.removeFile {
  position: relative;
  width: 23px;
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  top: 0;
  backdrop-filter: blur(10px);
  border-radius: 50%;
  box-shadow: rgba(39, 39, 43, 0.337) 0px 7px 29px 0px;
}

.removeFile:hover {
  color: red;
}

.downloadFile {
  position: relative;
  width: 23px;
  height: 23px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  top: 15px;
  left: -5px;
  backdrop-filter: blur(10px);
  border-radius: 50%;

}

.downloadFile:hover {
  color: rgb(4, 4, 4);
}

.removeFile:hover~.fileTitle {
  position: relative;
}

.removeFile:hover~.fileTitle::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  background-color: red;
  transform: translateY(50%);
  pointer-events: none;
}

.fileTitle {
  overflow: hidden;
  font-size: 20px;
  font-weight: 500;
  height: 23px;
  width: 80px;
  color: #0f0f0f;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;

}

.custome-file {
  background-color: #eef2ff;

  width: 140px;
  height: max-content;
  padding: 8px 14px;
  border-radius: 100px;
  /* border-bottom: solid 3px rgb(55, 55, 55); */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


}

.custome-file span {
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.custome-file span img {
  width: 24px;
  color: rgb(22, 22, 22);
  /* margin: 10px 0px; */
}

.custome-file input[type=file] {
  opacity: 0;

}

.custome-file input[type=file]:hover {
  cursor: pointer;
}

.filepreview {
  position: relative;
  width: 110px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 5px;

}