<div class="mb-3">
  <p-button
    type="button"
    icon="pi pi-chevron-left"
    (click)="prev()"
    [disabled]="isFirstPage()"
    styleClass="p-button-text"
  />
  <p-button
    type="button"
    icon="pi pi-refresh"
    (click)="reset()"
    styleClass="p-button-text"
  />
  <p-button
    type="button"
    icon="pi pi-chevron-right"
    (click)="next()"
    [disabled]="isLastPage()"
    styleClass="p-button-text"
  />
</div>
<div class="card">
  <p-table
    [value]="Exams"
    [paginator]="true"
    [rows]="5"
    [first]="first"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="pageChange($event)"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: max-content">Status</th>
        <th style="width: max-content">Subject</th>
        <th style="width: max-content">Type</th>
        <th style="width: max-content">Questions</th>
        <th style="width: max-content">File</th>
        <th style="width: max-content">Create At</th>
        <th style="width: max-content">update At</th>
        <th style="width: max-content">scheduled</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-exam>
      <tr>
        <td>{{ exam.obligatoire ? "Active" : "Inactive" }}</td>
        <td>{{ exam.subject }}</td>
        <td>{{ exam.exam__type }}</td>
        <td>{{ exam.questions.length }}</td>
        <td>{{ exam.file.length }}</td>
        <td>{{ exam.createdAt | date : "EEEE dd MMMM  HH:mm" }}</td>
        <td>
          {{
            (exam.updatedAt | date : "EEEE dd MMMM HH:mm") !==
            (exam.createdAt | date : "EEEE dd MMMM HH:mm")
              ? (exam.updatedAt | date : "EEEE dd MMMM HH:mm")
              : "-"
          }}
        </td>
        <td style="display: flex; justify-content: space-around;" >
          <div style="display: flex; align-items: center;">{{ exam.scheduled ? "Yes" : "No" }}</div>
          <div style=" --item-diff-x : 0px !important">
           
            <p-speedDial 
        [model]="items" 
        direction="left" 
        type="linear" 
        [mask]="true"
        transitionDelay="80" 
        showIcon="pi pi-bars" 
        hideIcon="pi pi-times" 
        raised="true"
        severity="secondary"
        buttonClassName="p-button-outlined"
        />
        </div>
       
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
    </ng-template>
  </p-table>
</div>

