<div class="section__card">
  <h3>All-In-One Solution</h3>
  <p>
    Skilline is one powerful online software suite that combines all the tools
    needed to run a successful school or office.
  </p>
  <div class="infos">
    <div class="row">
      <div class="pict">
        <img src="../../../../assets/mee.jpeg" alt="" />
      </div>
      <div class="descreption">
        <div class="desc__title"></div>
        <div class="desc__p">dddddddddddddddddddddddddddddddddddddddddddd</div>
      </div>
    </div>
    <div class="row">
    
      <div class="descreption">
        <div class="desc__title"></div>
        <div class="desc__p">ddddddddddddddddddddddddddddddddddddddddddddddddddd</div>
      </div>
      <div class="pict">
        <img src="../../../../assets/mee.jpeg" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="pict">
        <img src="../../../../assets/mee.jpeg" alt="" />
      </div>
      <div class="descreption">
        <div class="desc__title"></div>
        <div class="desc__p">dddddddddddddddddddddddddddddd</div>
      </div>
    </div>
  </div>
</div>
