<div class="card">
    <p-table
        [value]="ansStud"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">subject</th>
                <th style="width:25%">coefficient</th>

                <th style="width:25%">Exam</th>
                
                
                <th style="width:25%">Note</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-result>
            <tr>
                <td>{{ result.subject}}</td>
                <td>{{ result.coefficient}}</td>
                <td>{{ result.exam }}</td>
                <td>{{ result.note }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>