.btnResult{
  
    position: absolute;
    display: flex;
    color: #090d56;
    right: 10px;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    bottom: 8px;
    align-items: center;
 
}
.TitelForm {
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 25px;
    color: #f68f39;
    background: white;
    width: fit-content;
    padding: 15px 30px 15px 10px;
    border-radius: 0 40px 40px 0;
    box-shadow: 5px 5px 7px -3px #a1b7ff;
  }
.noteResult{
    min-width: 70px;
    height: 50px;
    background: #f49236bf;
    color: #ffffff;
    padding: 10px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    align-items: center;

}
.start{

    justify-content: left !important;
}
