
<div class="section__card">
<h3>All-In-One Solution</h3>
<p>Skilline is one powerful online software suite that combines all the tools needed to run a successful school or office.
</p>
<div class="container__card">
<div class="card">
         
    <div class="icon icon1"><i class="fa-solid fa-file-lines icon11"></i></div>
    <p class="title">Flexible Learning</p>
    <p class="text">Study on your terms with self-paced courses, allowing you to learn when it suits you bes</p>
 
</div>
<!-- end card -->
<!-- card -->
<div class="card">
 
    <div class="icon icon2"><i class="icon22 fa-solid fa-calendar-days"></i></div>
    <p class="title">Expert Instructors</p>
    <p class="text">Study on your terms with self-paced courses, allowing you to learn when it suits you bes.</p>
 
</div>
<div class="card">
         
    <div class="icon icon3"><i class="icon33 fa-solid fa-users"></i></div>
    <p class="title">Interactive Community</p>
    <p class="text">Study on your terms with self-paced courses, allowing you to learn when it suits you bes.</p>
 
</div>
<!-- end card -->
</div>
</div>