
<div class="row__card">
<div class="News">
    <h3>last News</h3>
    <p>
      A glass-like card to demonstrate the
      <strong>Glassmorphism UI design</strong> trend.
    </p>
    <p class="News-footer">Created by Rahul C.</p>
  </div>
</div>
  <div class="row__card">
  <div class="card card1">
    <p>
      A glass-like card to demonstrate the
      <strong>Glassmorphism UI design</strong> trend.
    </p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card card2">
    <p>
      A glass-like card to demonstrate the
      <strong>Glassmorphism UI design</strong> trend.
    </p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
  <div class="card card3">
    <p>
      A glass-like card to demonstrate the
      <strong>Glassmorphism UI design</strong> trend.
    </p>
    <p class="card-footer">Created by Rahul C.</p>
  </div>
</div>
<div class="row__table">

  <div class="EX__done">
    <h3 class="table__name">Exams done</h3>
    <table>
      <thead>
        <tr class="rowOftable">
          <th>Column 1</th>
          <th>Column 2</th>
          <th>Column 3</th>
        
        </tr>
      </thead>
      <tbody>
        <tr class="rowOftable">
          <td >cell1</td>
          <td >Cell 2</td>
          <td >Cell 3</td>
       
        </tr>
        <tr class="rowOftable">
          <td >Cell 1</td>
          <td >Cell 2</td>
          <td >Cell 3</td>
       
        </tr>
        <tr class="rowOftable">
          <td >Cell 1</td>
          <td >Cell 2</td>
          <td >Cell 3</td>
       
        </tr>
        <tr class="rowOftable">
          <td >Cell 1</td>
          <td >Cell 2</td>
          <td >Cell 3</td>
       
        </tr>
        <tr class="rowOftable">
          <td >Cell 1</td>
          <td >Cell 2</td>
          <td >Cell 3</td>
       
        </tr>
      </tbody>
    </table>
  </div>
  <div class="EX__taked"> 
        <h3 class="table__name">Exams taked</h3>
        <table>
        <thead>
          <tr class="rowOftable">
            <th>Column 1</th>
            <th>Column 2</th>
         
          </tr>
        </thead>
        <tbody>
          <tr class="rowOftable">
            <td >Cell 1</td>
            <td >Cell 2</td>
          
         
          </tr>
          <tr class="rowOftable">
            <td >Cell 1</td>
            <td >Cell 2</td>
          
         
          </tr>
          <tr class="rowOftable">
            <td >Cell 1</td>
            <td >Cell 2</td>
          
         
          </tr>
          <tr class="rowOftable">
            <td >Cell 1</td>
            <td >Cell 2</td>
          
         
          </tr>
          <tr class="rowOftable">
            <td >Cell 1</td>
            <td >Cell 2</td>
          
         
          </tr>
        </tbody>
      </table></div>
</div>
