<div class="toplog">
  <ul>
    <li>LOgo</li>
    <li><a routerLink="/home" style="cursor: pointer">home</a></li>
  </ul>
</div>
<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form>
  <div class="switch" (click)="goBackToPrevPage()">jjj</div>
  <div *ngIf="formName == true">
    <h3>Login Here</h3>
    <label for="username">Username</label>
    <input
      type="text"
      name="email"
      [(ngModel)]="loginObj.user__email"
      (ngModelChange)="modelChangeFn($event)"
      placeholder="Email or Phone"
      id="username"
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      [(ngModel)]="loginObj.password"
      placeholder="Password"
      id="password"
    />
    <div class="sub_Msg" (click)="popy = !popy">I forgot password</div>
    <button type="button" (click)="onlogin(loginObj)">Log In</button>
  </div>
  <div *ngIf="formName == false">
    <app-sign-up></app-sign-up>
  </div>

  <div *ngIf="formName == false" class="social">
    <div>I already have an account</div>
    <div class="fb" (click)="setswitch()">log in</div>
  </div>

  <div *ngIf="formName == true" class="social">
    <div>I don't have an account</div>
    <div class="fb" (click)="setswitch()">Sign in</div>
  </div>

  <div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>
</form>

<!-- popup for forgot password -->

<div [ngClass]="{ popFull: popy, popFullClose: !popy }">
  <div class="popBox">
    <div class="popform" *ngIf="check == false">
      <div class="closepop" (click)="popy = !popy">
        <i class="fa-solid fa-xmark"></i>
      </div>
      <h3 class="poptitle">Forgot Password</h3>
      <div class="subpoptitle">
        Enter your registered email to reset your password.
      </div>
      <hr class="popline" />

      <div class="popForm" [formGroup]="forgotpass">
        <label>Email :</label>
        <input
          type="text"
         
          [(ngModel)]="forgotObj.user__email"
          placeholder="Enter Email"
          class="form-control"
          formControlName="user__email"
        />
        <span *ngIf="responseMessage !== '' &&  forgotpass.controls['user__email']?.touched">
          {{ responseMessage }}
</span>
          <button type="button" (click)="SendMail()">Send</button>
      </div>
    </div>
    <div class="popcheck"*ngIf="check == true">
    <app-check-success></app-check-success>
    <h3>We sent you a link to reset your password, </h3>
    <h2>check your email</h2>
    </div>
  </div>
</div>

<!-- end of loginform -->
<!-- <form>
  <h3>Sign Up Here</h3>
  <label for="username">Username</label>
  <input
    type="text"
    name="email"
    [(ngModel)]="loginObj.user__email"
    (ngModelChange)="modelChangeFn($event)"
    placeholder="Email or Phone"
    id="username"
  />
  <label for="password">Password</label>
  <input
    type="password"
    name="password"
    [(ngModel)]="loginObj.password"
    placeholder="Password"
    id="password"
  />

  <button type="button" (click)="onlogin(loginObj)">Log In</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i> Google</div>
    <div class="fb"><i class="fab fa-facebook"></i> Sign in</div>
  </div>

  <div class="screen__background">
    <span class="screen__background__shape screen__background__shape4"></span>
    <span class="screen__background__shape screen__background__shape3"></span>
    <span class="screen__background__shape screen__background__shape2"></span>
    <span class="screen__background__shape screen__background__shape1"></span>
  </div>
</form> -->
