<p-table    styleClass="p-datatable-gridlines"   [tableStyle]="{'min-width': '60rem','width':'100%'}">
    <ng-template pTemplate="header">
        <tr>
            <th rowspan="2" colspan="2">Title Exam</th>
            <th colspan="2">date exam </th>
            <th rowspan="2" colspan="2">name Student</th>
        </tr>
        <tr>
            <th colspan="2">time exam</th>
          
        </tr>
      
    </ng-template>
</p-table>
<p-fieldset legend="Type section" [toggleable]="true" *ngIf="Exam">
    <ng-container *ngFor="let question of Exam.questions">
      <p-panel header="Question: {{ question.question__text }}">
        <div>{{ question.question__text }}</div>
        <div *ngIf="question.question__type === 'QCM'">
          <div *ngFor="let reponse of question.reponses">
            <div class="flex align-items-center">
              <p-checkbox 
                [label]="reponse.reponse__text" 
                [name]="'question_' + question.question__id"
                [value]="reponse.reponse__id"
                (onChange)="onCheckboxChange($event, question, reponse)">
              </p-checkbox>
            </div>
          </div>
        </div>
        <div *ngIf="question.question__type === 'Normal'">
          <div >
            <textarea 
            
              (blur)="answer($any($event.target)?.value, question.question__id)"></textarea>
          </div>
        </div>
      </p-panel>
    </ng-container>
    <button pButton type="button" label="Submit" (click)="submitAnswers()"> send</button>
</p-fieldset>

  
  