<div class="card flex justify-content-center" style="padding: 20px;">
  <p-table
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '60rem', width: '100%' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 30%;" rowspan="2" colspan="2">{{examTitle}}</th>
        <th style="width: 40%;" colspan="2">   {{ startDate | date : "EEEE MMMM dd " }}</th>
        <th style="width: 30%;" rowspan="2" colspan="2"></th>
      </tr>
      <tr>
        <th colspan="2">time exam: {{ formattedTime }}</th>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="examType === 'File' || examType === 'FileOff'" style="padding: 10px 20px 20px 20px;">
    <div class="examFiles">
      <div *ngIf="Exam.fileExam" class="fleximg" style="margin-bottom: 10px">
        <div  *ngFor="let f of Exam.fileExam; let index = index" key="index">
         <div class="downloadFile" (click)="downloadFile(f.file__name)">
          <i class="fa-solid fa-download"></i>
            </div> 
             <div class="previewimg">
           
            <i
              *ngIf="typeFile(f).type !== 'image'"
              class="fa-solid  fa-file-{{ typeFile(f).type }} fa"
              (click)="openFile(f.file__path)"
            ></i>
            <img *ngIf="typeFile(f).type === 'image'"  (click)="openFile(f.file__path)" [src]="f.file__path" />
          </div>
          <div class="fileTitle">{{ f.file__name }}</div>
        </div>
        
      </div>
     <!-- <button class="buttonSend scale" (click)="downloadAllFiles()"><i class="fa-solid fa-download"></i> Download</button> -->
    </div> 
    
    <div >
      <div class="desc">
        <label for="desc"> description: </label>
        <textarea
          id="desc"
          placeholder="add description for your work if you want"
          (blur)="description($any($event.target)?.value)" class="textbox-lines"
        ></textarea>

        

      </div>
      <div class="fileAnswer">
        <div *ngIf="Exam.fileExam" class="fleximg" style="margin-bottom: 10px">
          <div *ngFor="let url of urls; let i = index">
            <div class="filepreview">
              <div class="removeFile" (click)="removeFile(i)">
                <i class="fa-solid fa-xmark fa-xl"></i>
              </div>
              <div class="previewimg">
                <img *ngIf="url.type === 'image'" [src]="url.url" />
                <i
                  *ngIf="url.type !== 'image'"
                  class="fa-solid  fa-file-{{ url.type }} fa"
                ></i>
              </div>

              <div class="fileTitle">{{ url.name }}</div>
            </div>
          </div>
        </div>

        <div class="custome-file">
          <span>
            <i class="fa-solid fa-paperclip fa-lg"></i>Attach File
          </span>
          <input
            type="file"
            accept=".doc, .docx, .pdf, .txt, .rtf, .md, .jpg, .jpeg, .png, .ppt, .pptx, .xls, .xlsx, .zip, .rar"
            multiple
            (change)="detectFiles($event)"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="examType === 'Normal'">
    <ng-container *ngFor="let questionType of getQuestionTypes()">
      <p-fieldset [legend]="'Section: ' + questionType" [toggleable]="true">
        <ng-container
          *ngFor="let question of groupedQuestions[questionType]; let i = index"
        >
          <p-panel header="Question: {{ question.question__text }}">
            <div
              *ngIf="question.fileQuestion"
              class="fleximg"
              style="margin-bottom: 10px"
            >
              <div
                *ngFor="let f of question.fileQuestion; let index = index"
                key="index"
              >
                <div #taken>
                  <p-image
                  *ngIf="typeFile(f).type === 'image'"
                    [src]="f.file__path"
                    resize="both"
                    [preview]="true"
                  ></p-image>

                  <i
                  *ngIf="typeFile(f).type !== 'image'"
                  class="fa-solid  fa-file-{{ typeFile(f).type }} fa"
                  (click)="openFile(f.file__path)"
                ></i>

                </div>
              </div>
            </div>
            <div *ngIf="question.question__type === 'QCM'">
              <div *ngFor="let reponse of question.reponses">
                <div class="flex align-items-center">
                  <p-checkbox
                    [label]="reponse.reponse__text"
                    [name]="'question_' + question.question__id"
                    [value]="reponse.reponse__id"
                    (onChange)="onCheckboxChange($event, question, reponse)"
                  ></p-checkbox>
                </div>
              </div>
            </div>
            <div *ngIf="question.question__type === 'Normal'">
              <label for="answe"> Answer :</label>
              <div>
                <textarea placeholder="enter your answer" id="answe" class="textbox-lines"
                  (blur)="
                    answer($any($event.target)?.value, question.question__id)
                  "
                ></textarea>

              
              </div>
              
            </div>
          </p-panel>
        </ng-container>
      </p-fieldset>
    </ng-container>
  </div>
  <div class="RowButton">
    <button  *ngIf="examType == 'File'" class="buttonSend" type="button" (click)="submitAnswers()">
      Send
    </button>
    <button *ngIf="examType != 'File'" class="buttonSend" type="button" (click)="showDialog()">
      Done
    </button>
  </div>

  <p-dialog
    header="Check your Answers"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <div *ngIf="!allAnswersEmpty()">
      <ng-container *ngFor="let questionType of getQuestionTypes()">
        <p-fieldset [legend]="'Section: ' + questionType" [toggleable]="true">
          <ng-container *ngFor="let question of groupedQuestions[questionType]">
            <div *ngIf="question.question__type === 'QCM'">
              <p-panel header="Question: {{ question.question__text }}">
                <ng-container
                  *ngFor="
                    let answer of getAnswersByQuestionId(question.question__id)
                  "
                >
                  <p>{{ answer.value.Answer__text || "noAnswer" }}</p>
                </ng-container>
              </p-panel>
            </div>
            <div *ngIf="question.question__type != 'QCM'">
              <p-panel header="Question: {{ question.question__text }}">
                <ng-container
                  *ngFor="
                    let answer of getAnswersByQuestionId(question.question__id)
                  "
                >
                  <p>{{ answer.value.Answer__text || "noAnswer" }}</p>
                </ng-container>
              </p-panel>
            </div>
          </ng-container>
        </p-fieldset>
      </ng-container>
    </div>

    <p *ngIf="allAnswersEmpty()">No answers available.</p>
    <p-footer>
      <div class="RowButton">
        <button class="buttonSend" type="button" (click)="submitAnswers()">
          Send
        </button>
      </div>
    </p-footer>
  </p-dialog>
</div>
