section {
    width: 400px;
    /* height: 100vh; */
    background-color: #fff;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
     display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
    padding: 2px;
    /* border: blue solid 6px; */
  }
  
  .container{
    width: 100%;
    /* max-width: 80rem; */
    margin: 0 auto;
   
  }
  
  .listView-item{
  
    border-radius: .4rem;
  }
  
  .listView-item hr{
    border: 2px solid rgb(181, 180, 180);
    margin: 2px 0 !important;
  }
  
  .listView-link{
    font-size: 1.6rem;
    color: #020202;
    text-decoration: none;
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .listView-link h3{
    font-weight:500;
    font-size: 20px;
  }
  
  .listView-link i{
    color: #e7d5ff;
    padding: .5rem;
    
  }
  
  .Question ul{
    display:flex;
    align-items: flex-start;
    list-style-type: none;
    margin-left: 15px;
    gap: 5%;
  }
  
  .Question li , span{
    font-size: 16px;
    color: #101010;
    padding: 0 0 1px 5px;
  }
  
  .listView-link div{
    display: flex;
  }
  
  .listView-link .fa-down{
    display: none;
  }
  
  .Question{
    max-height: 0;
    overflow: hidden;
    position: relative;
 
    transition: max-height 650ms;
  }
  
  
  
  .Question p{
    color: #101010;
    font-size: 15px;
    padding-left:  2rem;
    
  }
  
  .listView-item:target .Question{
    max-height: 20rem;
  }
  
  .listView-item:target .listView-link .fa-rght{
    display: none
  }
  
  .listView-item:target .listView-link .fa-down{
    display: block;
  }