<section>
  <div class="container">
    <div class="listView" *ngFor="let question of data; let k = index">
      <div class="card flex justify-content-center">
        <p-accordion [activeIndex]="0">
          <p-accordionTab header="Question: {{ k + 1 }}">
            <div class="Question">
              <ul>
                <li><span class="font-bold white-space-nowrap"> Type:</span> {{ question.question__type }}</li>
                <li><span class="lab">Note:</span> {{ question.note }}</li>
              </ul>
              <p>
                {{ question.question__text }}
              </p>
              <div *ngFor="let answer of question.reponses">
                <span class="lab">rep:</span>
                <p>
                  {{ answer.reponse__text }} <span>{{ answer.reponse__statut }}</span>
                </p>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
</section>

